[2013-05-08 20:22] cktricky opened #1 "A1 - Injection"
Write the A1 Injection vuln

[2013-05-08 20:22] cktricky opened #2 "A3 - Broken Auth"
Write some broken auth stuff

[2013-05-08 20:22] cktricky opened #3 "A4 - Insecure Direct Object Reference"
Create this vuln

[2013-05-08 21:14] cktricky opened #4 "A6 - Security Misconfiguration"
Create

[2013-05-08 21:14] cktricky opened #5 "A7 - Insecure Cryptographic Storage"
create

[2013-05-08 21:14] cktricky opened #6 "A8 - Failure to restrict URL access"
Create

[2013-05-08 21:15] cktricky opened #7 "A9 - Insecure Transport Layer Protection"
Create

[2013-05-08 21:15] cktricky opened #8 "A10 - Unvalidated Redirects and Forwards"
Creaet

[2013-05-08 21:16] cktricky opened #9 "Mass Assignment"
The code is already vulnerable, need to add a tutorial section and a special filter and routes for admins

[2013-05-16 21:26] cktricky opened #10 "Leveraging constantize for RCE"
http://blog.conviso.com.br/2013/02/exploiting-unsafe-reflection-in.html

[2013-05-21 16:45] cktricky opened #11 "Javascript Validation - Password Confirmation"
Make sure that we validate w/ JS the user's password confirmation matches the password if present.

[2013-05-24 17:41] cktricky opened #12 "Seed data"
this application needs seed data

[2013-05-24 17:42] #11 closed, assigned to nobody

[2013-05-24 18:02] #12 closed, assigned to nobody

[2013-05-24 18:25] nvisium-jack-mannino opened #13 "GitHub Pages "Code" Doesn't open new tab"
When you click on the GitHub code the href takes you to github.com. This might be more preferable to open as a new tab? Not the end of the world.

![screenshot_5_24_13_2_24_pm](https://f.cloud.github.com/assets/531454/562047/4331bfa6-c49f-11e2-9db2-7a133a2f6ecd.png)

[2013-05-24 20:17] #13 closed, assigned to nobody

[2013-05-24 20:17] cktricky opened #14 "Top 10 2013 RC"
When this comes out of release candidate, update

[2013-05-31 18:01] cktricky opened #16 "Write-up for SSN related vuln"
Provide a write-up for the SSN related vuln

[2013-06-01 05:28] cktricky opened #17 "User Creation / Populate bug"
Figure out weird bug where PTO attrs aren't populated on registration

[2013-06-01 23:51] #17 closed, assigned to nobody

[2013-06-02 16:24] cktricky opened #18 "Destroy all child objects within associations"
When a user is deleted, we need all associations with their user id deleted.

[2013-06-02 16:39] #16 closed, assigned to nobody

[2013-06-02 17:09] #18 closed, assigned to nobody

[2013-06-03 00:19] #9 closed, assigned to nobody

[2013-06-03 03:33] #10 closed, assigned to nobody

[2013-06-03 05:12] #2 closed, assigned to nobody

[2013-06-03 16:31] #1 closed, assigned to nobody

[2013-06-03 16:32] #3 closed, assigned to nobody

[2013-06-03 22:08] #5 closed, assigned to nobody

[2013-06-04 15:24] #8 closed, assigned to nobody

[2013-06-04 15:50] #6 closed, assigned to nobody

[2013-06-04 17:59] #7 closed, assigned to nobody

[2013-06-06 20:24] cktricky opened #20 "Constantize"
Somehow my constantize code went missing and I didn't notice :-0

[2013-06-06 20:44] #20 closed, assigned to nobody

[2013-06-06 23:34] cktricky opened #21 "CSRF/AJAX/JQuery 3rd solution"
Explain using serialization in JQuery for an AJAX request CSRF and how it will include all the form elements, obviously that includes the authenticity token.

[2013-06-07 02:27] cktricky opened #22 "Finish CSRF tutorial"

[2013-06-07 02:41] #21 closed, assigned to nobody

[2013-06-07 13:05] #22 closed, assigned to cktricky

[2013-06-08 00:26] lcashdol opened #23 "Add a command injection vulnerability"
I was wondering if you guys could add a command injection vulnerability, perhaps a user can upload a file of some sort and that file is processed by something on the command line.  The user supplied input isn't sanitized for shell meta characters like &;|\n etc.. allowing filenames like userdoc;id>/tmp/p;.doc to be sent and executed.

[2013-06-10 12:52] cktricky opened #24 "Credentials"
One thing I don't like in tutorial style apps is digging around for credentials to the app. Need to make this visible and reachable since we've made this mistake.

[2013-06-10 19:26] cktricky opened #25 "Dropdown"
The drop down for account settings was not working on every page because of missing JS.

[2013-06-10 19:27] #25 closed, assigned to cktricky

[2013-06-10 20:25] #24 closed, assigned to cktricky

[2013-07-10 00:12] forced-request opened #26 "OWASP Top 10 2013"
I'm sure this has already been thought of, but it would be nice to reorganize / update the tutorials to reflect the new (2013) top ten. The 2010 and 2013 lists are fairly similar, but one item I think RailsGoat could highlight from the 2013 list is A9 Using Components with Known Vulnerabilities. This could easily come in the form of an out of date Gem.

2010: https://www.owasp.org/index.php/Catego

[2013-07-10 14:09] #14 closed, assigned to nobody

[2013-07-10 14:11] cktricky opened #27 "2013, A9 - Using components with known vulnerabilities"
Leverage vulnerable Ruby gems

[2013-07-11 00:43] #23 closed, assigned to cktricky

[2013-07-14 00:21] cktricky opened #28 "2013, A1 - Injection"

[2013-07-14 00:21] cktricky opened #29 "2013, A2 - Broken Auth and Session Management"

[2013-07-14 00:22] cktricky opened #30 "2013 - A3, Cross-Site Scripting"

[2013-07-14 00:23] cktricky opened #31 "2013, A4 - Insecure Direct Object Reference"

[2013-07-14 00:23] cktricky opened #32 "2013, A5 - Security Misconfiguration"

[2013-07-14 00:23] cktricky opened #33 "2013, A6 - Sensitive Data Exposure"

[2013-07-14 00:24] cktricky opened #34 "2013, A7 - Missing Function Level Access Control"

[2013-07-14 00:25] cktricky opened #35 "2013, A8 - CSRF"

[2013-07-14 00:25] cktricky opened #36 "2013, A9 - Using components with known vulnerabilities"

[2013-07-14 00:25] cktricky opened #37 "2013, A10 - Unvalidated Redirects and Forwards"

[2013-07-14 00:26] #36 closed, assigned to cktricky

[2013-08-19 01:42] #29 closed, assigned to cktricky

[2013-08-19 01:42] #28 closed, assigned to cktricky

[2013-09-04 14:44] wickett opened #39 "Ubuntu issue"
To get railsgoat working on a clean ubuntu box I had to add these two entries to the Gemfile

gem 'execjs'
gem 'therubyracer'

per this instruction, http://stackoverflow.com/questions/6282307/execjs-and-could-not-find-a-javascript-runtime

[2013-09-09 18:02] mccabe615 opened #41 "Add .to_sym DOS vuln"
Add an action that accepts a user param that is converted to a symbol leading to a DOS.

Source:
http://brakemanscanner.org/docs/warning_types/denial_of_service/index.html

[2013-09-10 14:12] cktricky opened #42 "Lockout attempts in session"

[2013-09-24 21:43] chrismo opened #44 "Minor UI: tabbing to fields does not change background highlight"
and thus hard to read the text being typed in. Chrome on Mac OS.

[2013-09-25 01:26] #39 closed, assigned to cktricky

[2013-10-07 15:09] chrismo opened #50 "NameError: undefined local variable or method `postgresql_version'"
This problem is introduced with the new Capybara tests, and is a bug in the database_cleaner gem.

A patch has been submitted and accepted (https://github.com/bmabey/database_cleaner/commit/3cf6d8291df70e8fb026f699f0e9a50faa3362c5), but not released yet. You can reference the github version of database_cleaner, until a version newer than 1.1.1 is released:

[code]

[2013-10-10 12:13] forced-request opened #54 "Tutorial Accordian won't close"
After opening a "Bug", "Solution", or "hint" panel in the tutorial controller it is impossible to close. Clicking on the tab will close it temporarily, but will reopen immediately after.

[2013-10-11 13:42] forced-request opened #55 "RVM Support deprecated through pow"
It appears that Pow is deprecating support for loading per-project .rvmrc files. Since many of us use Pow for development, it appears that we will need to add the following code to the .powrc file:

[code]

![screen shot 2013-10-11 at 9 39 50 am](https://f.cloud.github.com/assets/961246/1314717/9c358044-327a-11e3-99b1-93b9c62382e2.png)

[2013-10-11 16:19] #55 closed, assigned to nobody

[2013-10-12 20:15] #54 closed, assigned to nobody

[2013-10-12 20:35] #50 closed, assigned to nobody

[2013-10-12 21:34] #44 closed, assigned to cktricky

[2013-10-20 02:22] jasnow opened #57 "Problem with Benefits.make_backup argument values"
Original Subject Line: Question: Getting cp-related error messages during "rake" run

Getting this during **"rake"** with and without the **RAILSGOAT_MAINTAINER** env variable set:
- cp: missing destination file operand after ‘<HOME>l/Projects/railsgoat/public/data/’
- Try 'cp --help' for more information.
- sh: 1: /home/dell/Projects/railsgoat/public/data/bak1382235157_: not found
- sh: 1: cd: ca

[2013-10-22 04:59] #57 closed, assigned to nobody

[2013-10-22 17:33] jasnow opened #59 "Upgraded Ruby for Railsgoat from 1.9.3 to 2.0.0."
Upgraded Ruby for Railsgoat from 1.9.3 to 2.0.0.
Previous attempt in #58 .

[2013-10-22 17:48] jasnow opened #60 "Add "Running coverage only on demand" using gem simplecov to Railsgoat"
I have "Running coverage only on demand" using gem simplecov ready.
Background material: https://github.com/colszowka/simplecov
Just tell me when.

This might help with the Ruby 2.0.0 upgrade.

[2013-10-28 12:19] #60 closed, assigned to nobody

[2013-11-13 00:00] #32 closed, assigned to cktricky

[2013-11-13 17:06] #27 closed, assigned to nobody

[2013-11-14 15:12] #33 closed, assigned to cktricky

[2013-11-14 15:35] #34 closed, assigned to cktricky

[2013-11-14 15:49] #31 closed, assigned to cktricky

[2013-11-14 15:49] #37 closed, assigned to cktricky

[2013-11-14 15:52] #35 closed, assigned to cktricky

[2013-11-14 15:59] #30 closed, assigned to cktricky

[2013-11-14 16:09] #4 closed, assigned to nobody

[2013-11-14 16:09] #26 closed, assigned to nobody

[2013-11-14 22:27] mccabe615 opened #66 "Add an insecure API"
I'd like to add an api that can be used to update data, that is insecure.

[2013-11-15 15:59] mccabe615 opened #68 "Add forgot password feature"
We have no way to allow users to reset their password. A security questions feature would be fun to add.

[2013-11-26 03:48] jamesejr opened #71 "Add remember me feature"
I noticed that RailsGoat doesn't have the ability for users to check "remember me" at the login prompt. Perhaps we can also introduce additional vulnerabilities in the implementation. Any thoughts?

Example:
- [x] Remember Me

[2013-12-02 17:33] chrismo opened #72 "Add rjs vulnerability?"
http://homakov.blogspot.com/2013/11/rjs-leaking-vulnerability-in-multiple.html

[2013-12-12 04:05] #68 closed, assigned to nobody

[2013-12-31 02:52] #59 closed, assigned to nobody

[2014-03-12 16:32] jasnow opened #94 "'RAILSGOAT_MAINTAINER="yes" rake' run does not run cleanly (green)"
Ran this: **RAILSGOAT_MAINTAINER="yes" rake** and got this:

[code]

[2014-03-12 23:00] #66 closed, assigned to mccabe615

[2014-03-14 22:21] #71 closed, assigned to nobody

[2014-03-14 22:43] #94 closed, assigned to nobody

[2014-03-19 02:55] cktricky opened #99 "JQuery (XSS / DOM)"
This is for Geller B.

[2014-03-19 17:27] cktricky opened #100 "Download files (make clearer)"
It's not very clear that the PDF files should be clicked on to download, we can spruce that up a bit.

[2014-03-21 04:14] cktricky opened #102 "Branch with tutorials removed"
It would be nice to have a branch that is devoid of the tutorials so that internal security teams could use this for training their development staff in a "spot the bug" type situation. Not necessary but probably a nice option. Nobody has asked for it so not a high priority.

[2014-03-26 16:04] forced-request opened #103 "Fix Password Confirmation"
Need to fix password confirmation. It appears that railsgoat isn't actually validating that the users password actually matches.

Also need to fix the confirmation value in the seeds file for user Mike, as seen in 70b44b

[2014-03-26 16:06] forced-request opened #104 "Fix Motocross password"
Need to be consistent with passwords throughout the system to ensure that the match. The tutorials credentials view was providing users with an invalid password.

[2014-03-26 16:58] #104 closed, assigned to nobody

[2014-04-16 20:03] raesene opened #107 "SQL Injection Excercise, potential additional info for solution"
I was looking through the exercises and I noticed that with the SQL Injection exercise if you just copy/paste the highlighted section from the solution rails is returning a 422 error saying that the e-mail address is already taken.

Not sure if I just missed a bit or if the docs need updating but it might be worth explicitly mentioning in the exercise that the e-mail address submitted with the for

[2014-04-17 12:09] #107 closed, assigned to nobody

[2014-04-17 12:34] #103 closed, assigned to nobody

[2014-04-17 12:43] #100 closed, assigned to nobody

[2014-04-17 16:51] #99 closed, assigned to nobody

[2014-04-20 15:03] raesene opened #112 "Unintended(?) DOM XSS in code view"
Of course not mega serious but could be of interest.  There's a DOM XSS issue in the JQuery snippet library that railsgoat uses to display the code snippets.

The library just takes location.href and puts it in the title element of the page, when the pop-up link is clicked for a section of code.

![image](https://cloud.githubusercontent.com/assets/68317/2750754/ada1648e-c89c-11e3-9977-5e576a372c0d

[2014-05-18 19:26] raesene opened #121 "Explicit References to online code"
Hi,

So I was using railsgoat for a workshop recently and one thing I noticed is that there's a couple of places where the app. makes reference to online JS files specifically

jsapi - https://github.com/OWASP/railsgoat/blob/14c1fb367d83f7b59e1a96c74521d4f528f6dd53/app/views/layouts/tutorials.html.erb#L16

and

htm5shiv - https://github.com/OWASP/railsgoat/blob/14c1fb367d83f7b59e1a96c74521d4f528f6

[2014-05-19 12:55] #121 closed, assigned to nobody

[2014-05-22 16:57] #112 closed, assigned to nobody

[2014-06-06 15:51] cktricky opened #128 "Add API Keys to the credentials as another column"

[2014-06-27 16:06] cktricky opened #133 "Write-up for httponly"

[2014-06-30 17:59] #128 closed, assigned to nobody

[2014-07-10 20:25] cktricky opened #138 "Admin dashboard issue"
Editing a user on the admin dashboard opens up the entire layout versus just a modal.

[2014-07-11 10:42] #138 closed, assigned to nobody

[2014-07-13 17:25] jasnow opened #140 "Upgrade to Rails 4.1.x & Devise"
After I upgraded the i18n gem to 0.6.11, we are getting the following deprecated warning when we run the rspec tests:
 * [DEPRECATED] I18n's :recue_format option will be removed from a future release. All exception messages will be plain text. If you need the exception handler to return an html format please set or pass a custom exception handler.
 * We did not get it for i18n gem 0.6.9.

[2014-07-23 23:47] cktricky opened #142 "Forgot Password Email references the wrong link"
Line 6 of the app/mailers/user_mailer.rb file has a url_for method that appears to be generating URLs not based on the apps current URL but an assumption that the app is running on http://localhost:3000.

[2014-07-29 13:24] #142 closed, assigned to cktricky

[2014-09-11 15:11] #133 closed, assigned to cktricky

[2014-09-17 14:31] #42 closed, assigned to cktricky

[2014-09-19 21:50] cktricky opened #152 "Analytics page doesn't appear to be linked anywhere"
@forced-request - Do you want to handle this or should I? (I believe you wrote the analytics page's code)

[2014-09-25 16:24] cktricky opened #154 "CSRF"
2 things, both can wait until we've performed the upgrade to Rails 4

1) Discuss with exception and...

2) Discuss/demo what is really happening when a CSRF token is is invalid

I don't think we can talk much about "match" routes since Rails 4 pretty much barfs all over using them AFAICT.

[2014-09-27 00:37] #152 closed, assigned to nobody

[2014-10-01 23:23] jasnow opened #157 "Move to strong_parameters in preparation for Rails 4.x upgrade"
**Move to strong_parameters in preparation for Rails 4.x upgrade:** https://github.com/OWASP/railsgoat/issues/140, https://github.com/OWASP/railsgoat/pull/151

 * Add strong_parameter to @OWASP/railsgoat's master (Rails 3.2.19) branch: https://github.com/OWASP/railsgoat/tree/master

OR
  * Convert protected_attributes to strong_parameters in  @jasnow/railsgoat's "rails4" (Rails 4.0) branch: https:

[2014-10-01 23:34] jasnow opened #158 "Fix deprecated find/first statement as part of Rails 4.x upgrade"
**Fix deprecated find/first statement as part of Rails 4.x upgrade** as part of: https://github.com/OWASP/railsgoat/pull/151

Change this line:
- user = User.find(:first, :conditions => "user_id = '#{params[:user][:user_id]}'")

in this file: https://github.com/jasnow/railsgoat/commit/d6a6864f739ca278023a87680daad2ed5a3aa45d to get rid of this warning:
- DEPRECATION WARNING: Calling #find(:first)

[2014-10-01 23:39] jasnow opened #159 "Convert rspec 2.14 to 2.99 in Railsgoat project"
Convert rspec 2.14 to 2.99 in Railsgoat project.

[2014-10-10 19:40] #158 closed, assigned to nobody

[2014-10-13 06:28] bnix opened #161 "Undocumented Reset Password Vulnerability?"
If this was intentional, there isn't a spec for it under the vulnerabilities directory nor is it called out in the tutorials.

The ``reset_password`` action in ``PasswordResetsController`` is vulnerable to arbitrary code execution via ``Marshal.load`` ([see security warning in Marshal documentation](http://www.ruby-doc.org/core-2.1.3/Marshal.html#module-Marshal-label-Security+considerations)) and

[2014-10-14 19:37] cktricky opened #162 "Add vagrant files to gitignore"
1) Add these files to be excluded when pushing

2) Remove wonky files from repo

[2014-10-14 20:38] #162 closed, assigned to cktricky

[2014-10-15 18:31] cktricky opened #163 "Verbiage clean-up in tutorials"
Tutorials need a review and updates, the verbiage can be confusing.

[2014-10-15 18:32] cktricky opened #164 "Password Validation"
This is confusing regex, it is "dirty" and really needs some work. Also, it causes specs to fail when uncommented.

[2014-10-15 18:34] cktricky opened #165 "Specs need corresponding tutorials"
We need a link from our specs to the corresponding tutorials, this can probably be done via some index of specs -> tutorials, possibly on the tutorial section.

[2014-10-15 18:35] cktricky opened #166 "Specs confusing?"
This one I'm not clear about but we received feedback that specs were "fixed" when they should fail and pending when they were fixed.

This could actually be the result of poor documentation on the subject because this is a new complaint we've not yet received.

[2014-10-15 18:40] cktricky opened #167 ""Getting Started" Improvement"
This was a quick hack to make some sense of what you are supposed to do but I'm frankly embarrassed at how terrible it STILL is, lets make an effort to improve it significantly.

[2014-10-23 04:31] cktricky opened #169 "Metaprogramming section - ouch"
Yeah, so, I confuse ppl and don't really show the problem well or the fix w/ regards to the _actual_ problems associated with constantize. Dir traversal is mixed in w/ that issue.

Additionally, the `send()` method isn't even filled out.

[2014-11-19 18:35] cktricky opened #176 "Get rid of partials"
Dawned on me how much of a pain this partial stuff is for tutorial templates. We can do better. Lets start pulling this from a db.

This means:

Interface to add them (which might be cool for folks who want to add their own tutorials).

A simple DB import as part of the seeds file will make life a little easier, just for the tutorials table.

[2015-01-05 23:04] chrismo opened #179 "Creating a user in empty database fails"
This commit (4e6006dcc88049a3fbcb45bc6ed96d74371b3f41) tries to create the auth_token during User creation, but in an empty database, the assign_user_id method won't do anything - I think.

I've changed the README (in a coming PR) to show with mysql that `db:setup` should be used instead of `db:create` and `db:migrate` because the latter won't execute `seeds.rb`, leaving the db empty.

Be good to

[2015-01-05 23:21] cktricky commented on #179
Understood, yes their was some level of assumption that folks would seed the db, oops! Seems like a no-brainer in retrospect.

[2015-01-05 23:23] cktricky commented on #179
Also, I just realized what you meant w/ regards to the README. The first example shows `db:setup` but when we talk about mysql we demonstrate using `rake db:create db:migrate`, instead. Are you tackling this in the PR or should I assign myself?

[2015-01-06 00:36] chrismo commented on #179
You can do it - I'm going through the exercises again for my annualish review of these items. I may pick up some other tweaks and submit them all at once - I dunno - but I don't know if I'll get to stay heads down on this enough this week :)

[2015-01-06 00:38] cktricky commented on #179
Ha! Luckily I'm dedicating some time to a "refresh" of this platform over the next few weeks. Appreciate your efforts on this btw!

[2015-01-06 13:55] cktricky opened #180 "Update footer year"
Still at 2013

[2015-01-06 17:15] chrismo opened #181 "AdminController vuln has no spec for it"
There's no spec for the admin controller vuln around the Analytics scope injection vulnerability.

[2015-01-06 17:16] chrismo opened #182 "SSN display vuln has no spec"
This is probably on me, as this was in there the first time around. I think it should be simple to add, though I may not have time this time around :/

[2015-01-06 17:51] chrismo commented on #179
I ran across this again today, and a related problem in UserFixture and had to fix both to continue:

[code]

[2015-01-06 17:52] chrismo commented on #179
If you save all of that to file.patch, should be able to apply with `git am < file.patch`

[2015-01-06 18:15] #180 closed

[2015-01-06 18:46] chrismo opened #183 "Timing attack doesn't seem feasible?"
I was unable to find anything meaningful with a timing attack as described in the A2 section.

I set up a few accounts in the app like c@a.com, m@a.com, t@a.com, and then run this script (with a pasted in cURL command as copied out of Chrome dev tools) and did not see any significant time differences when hitting an account that exists vs. an account that doesn't exist:

[code]

I don't know if th

[2015-01-06 18:46] cktricky commented on #179
Done in 73e8ab972b29a716e0f87cb053f99b058a01b2bf. Thanks again! Also, I think I'll end up putting up a flash notification that you need to seed the data if the db shows empty (since we want folks to seed so that they can correctly utilize the application for training).

[2015-01-06 18:46] #179 closed

[2015-01-06 18:52] chrismo commented on #183
Here are the real times returned -- the final one is always the shortest (not sure why, does not seem related to the login email) ... but I cannot discern any difference with the accounts I know exist vs. not.

[code]

[2015-01-06 18:52] cktricky commented on #183
So I *believe* what we determined ( @forced-request , please chime in here) but IIRC, John needed to leverage BCrypt to make it noticeable and I think he may have "upped" the rounds to 12.

[2015-01-06 18:53] chrismo commented on #183
ah - yeah, i hadn't patched it yet to use bcrypt, so - that could matter ... i'll try again later.

[2015-01-06 18:55] forced-request commented on #183
@cktricky that's correct. Had to convert it to BCrypt.

@chrismo I recommend checking out this SecCasts video where I demonstrate timing-attacks on Railsgoat with some PoC code I released: https://seccasts.com/mror/security_cast/34

[2015-01-06 18:56] cktricky commented on #183
So I think we need to *at a minimum* -

1 - Update the tutorial
2 - Include @forced-request PoC code

[2015-01-06 19:05] chrismo commented on #183
yeah, that'd be cool :)

[2015-01-06 19:10] chrismo opened #184 "Why are solutions inlined in the code, commented out?"
I think I'd prefer all of the solution code not be left in the sources remmed out, esp. since solutions are included in the tutorial. Having the commented out solutions thwarts attempts by a dev wanting to try and figure these things out (personally, I learn better if I have to solve it, rather than 'cheat').

I'm fine with the solution options in the tutorial, as this gives someone wanting to qui

[2015-01-06 19:20] chrismo commented on #183
@forced-request that link goes to a login page?

[2015-01-06 19:49] forced-request commented on #183
Sorry, @cktricky can correct me if I'm wrong, but I think you'll need to create an account to watch. Accounts are free, though, and includes access to a lot of Rails security videos amongst others!

[2015-01-06 20:09] chrismo commented on #182
actually, there is one ... hmmm: https://github.com/OWASP/railsgoat/blob/master/spec/vulnerabilities/sensitive_data_exposure.rb#L12

[2015-01-06 21:08] cktricky commented on #184
Let's remove it in the 4.x branch and see what ppl say. Seem fair?

[2015-01-06 21:09] cktricky commented on #183
@forced-request - yes but since this is an OWASP project I'd prefer to keep a company site off the OWASP repo issue tracker ;-)

[2015-01-06 21:10] cktricky commented on #182
Fair to close the issue then?

[2015-01-07 17:08] chrismo opened #185 "undefined method `iv` for nil:NilClass"
While working through fixing the goat, I fixed the work_info view to show last_four, but hadn't dug into any of the other encryption related stuff, and no users had any key_management records, which led to a confusing error `undefined method`iv' for nil:NilClass` pointing at this raise line:

[code]

So ... I think maybe adding another check for the presence of self.key_management along with some

[2015-01-07 17:09] chrismo commented on #184
All of the code related to encrypting SSNs is possibly a good example of leaving the solution code in the source. It's a fair amount of work and just starting with nothing may not be that helpful. Dunno.

[2015-01-07 17:30] cktricky commented on #185
Ahh, I actually had seen this before and forgot to make an issue for it.
Thanks!

On Wed, Jan 7, 2015 at 12:08 PM, chris morris <notifications@github.com>
wrote:

[2015-01-07 17:32] cktricky commented on #184
Maybe we draw the line at this - If it can be put into a code snippet
(meaning succinct and not overly complex), it does *not* have a commented
out code snippet to go with. If it is more involved and a fix cannot be
easily placed into code snippets, it stays in the code and we reference it
in the tutorials.

On Wed, Jan 7, 2015 at 12:09 PM, chris morris <notifications@github.com>
wrote:

[2015-01-07 18:04] chrismo commented on #184
I've had vague thoughts of moving all solutions into monkey-patching modules such that they're out of the way, but then could be mixed in by requiring some sort of solutions path ... you could even shoot for the moon and attempt to auto-render that code into the tutorial pages - so when that code changes, the tutorial is automatically up-to-date. but ... that probably feels like more work than I'm

[2015-01-07 18:13] cktricky commented on #184
I like this. Ya - I'm actually wanting us to go a more complex, more
involved route. Not from the user experience perspective obviously, more
engineering overhead to improve the experience. Timely given that I'm
working through a new tutorial process in the *tuts* branch as time
permits.

On Wed, Jan 7, 2015 at 1:04 PM, chris morris <notifications@github.com>
wrote:

[2015-01-07 20:23] chrismo commented on #184
(recording for completeness) - the bcrypt solution code only appears in the tutorial, looks like.

[2015-01-07 20:35] chrismo opened #186 "When BCrypt solution is put in place, the password is stored plaintext?"
Not 100% that this isn't my fault for how I'm solving things, but I tweaked the solution with this additional line to set password to nil
[code]
though in a real app you wouldn't even keep the password column in the table.

[2015-01-07 21:03] cktricky commented on #186
Right, and in the "video tutorial platform" who I won't mention by name
because this is an OWASP project, we show how to implement this in the
Rails A6 video but I'm not sure it made it into this tutorial so def
something that needs to be shored up. Here is a code snippet from that
video tutorial:

$ rails g migration RemovePasswordFromUsers password:string
$ rails g migration AddPasswordHashAndSa

[2015-01-08 22:01] chrismo commented on #182
ok - closing this, I'm not sure why the spec wasn't going to pending when I was expecting it to, but I guess after fixing other things it went pending with the rest of them.

[2015-01-08 22:01] #182 closed

[2015-01-08 22:05] chrismo opened #187 "ApplicationController fix to check paid_time_off first"
I ran into this in the middle of fixing the site, not exactly sure of the circumstances, but obviously something to do with missing user data ... simple fix:
-      if !(current_user.retirement || current_user.paid_time_off.schedule || current_user.paid_time_off || current_user.work_info || current_user.performance)
-      if !(current_user.retirement || current_user.paid_time_off || current_user.

[2015-01-08 22:10] chrismo opened #188 "Fix for redirect vuln could go one step further to solve unvalidated_redirects_spec.rb breakage"
As is, the line to shave off different domains in the redirect `path = URI.parse(params[:url]).path if params[:url].present?` can still lead to an invalid route, and in fact the `unvalidated_redirects_spec.rb` will blow up on an exception rather than just go to pending when this fix is in place. Adding a check on the route can save that problem as well:

[code]

[2015-01-08 22:11] chrismo commented on #184
Another pro for being able to automatically switch in monkey-patching solution code is the build automation can make sure all of the specs DO go to pending when solutions are in place -- I found a few places where vuln solutions broke the specs due to changing code since the specs were written.

[2015-01-08 22:12] chrismo opened #189 "If UsersController doesn't reject admin param, then just removing admin from mass assignment causes specs to raise exception"
`+   user = User.new(params[:user].reject { |k| 'admin' == k })`

Changing that line will allow the spec to go to pending when the mass assignment change is made in User. Otherwise the spec is broken.

[2015-01-08 22:14] chrismo opened #190 "allow_forgery_protection config change in test.rb required to get spec to go pending"
This is only set to false in the test.rb file, but I had to hunt it down to get the spec to go to pending after doing the rest of the fixes as shown in the tutorial solution for CSRF.

Maybe test.rb should just be changed to this?

`+  config.action_controller.allow_forgery_protection    = true`

[2015-01-08 22:17] chrismo opened #191 "All of the passwords in seeds and specs don't pass fixed validation rules"
Most if not all of the specs fail once the new password validation rules are put into place, because the seeds.rb have invalid passwords according to the new rules.

I don't know if hardcoding seeds.rb passwords to pass the new rules will allow the John the Ripper attack mentioned in the tutorial to work.

sql_injection_spec also has a hardcoded password that needs to be modified to obey the new r

[2015-01-08 22:18] chrismo commented on #166
Overall it'd be nice to have a much more straightforward way of doing this. I settled on the way it is now to try and aid BOTH the end-user and the maintainer, but ... it leaves it weird for the end-user. Maybe some more custom magicks could be put into play -- I largely leaned on whatever was already there in rspec and pending - but ... it sorta sucks.

[2015-01-09 16:34] cktricky commented on #191
Might make sense to just detect the failure during seeds file population, then revert to a stronger password for each account being created. Dunno. Thinking it through.

[2015-01-09 16:42] cktricky commented on #190
Done in 907045488d404bb6f608b1757279fef31e9485c6 thanks!

[2015-01-09 16:42] #190 closed

[2015-01-09 16:43] chrismo commented on #190
No problem! :) Thx for the maintainence work :) I couldn't decide if that should just be changed or called out in the tutorial.

[2015-01-09 16:46] cktricky commented on #190
Good catch, I'm hoping these types of things will be detected as more folks
use the unit-tests. Linking tutorials with their unit-tests and annotating
that there are unit-tests should draw more feedback/usage (I hope).

On Fri, Jan 9, 2015 at 11:43 AM, chris morris <notifications@github.com>
wrote:

--
Ken Johnson, CTO
nVisium
(775) 233-8383

*ken.johnson@nvisium.com
<http://ken.johnson@nvisiumsec

[2015-01-09 17:15] cktricky commented on #166
Fwiw, @geeksam initially had made mention of the specs issue this was created for, maybe he'd have more insight or recommendations?

[2015-01-09 19:20] geeksam commented on #166
Hmm.  It's been a couple of months since I tried to go through the tutorial, and I'm not sure if I kept my notes when I changed jobs.  At a minimum, the output from RSpec is confusing, and the text of the tutorial should be much more explicit about what to expect.  That's not ideal, though, because having to remember that "up is down" imposes a cognitive load on the end user who's going through a

[2015-01-09 19:37] cktricky commented on #166
Great feedback!

As for better documentation, I'm working through that with a new tutorial flow and @chrismo is helping identify broken / missing code or tutorial pieces. This way getting started and using Railsgoat is *generally* less of hassle.

I've found it confusing as well since failed = fixed in the verbiage, as an example:

![screen shot 2015-01-09 at 2 31 04 pm](https://cloud.githubuserco

[2015-01-09 19:38] cktricky commented on #166
oh and thanks! @geeksam

[2015-01-19 13:22] Nevraeka opened #193 "[design] New Logo for Project"
Any thoughts on this?
![railsgoat](https://cloud.githubusercontent.com/assets/647043/5801026/45ad3494-9fb4-11e4-9765-36fa4c6a06f0.png)

[2015-01-19 13:54] cktricky commented on #193
Love it, this is awesome. We should use it!

On Mon, Jan 19, 2015 at 8:22 AM, Erik Isaksen <notifications@github.com>
wrote:

--
Ken Johnson, CTO
nVisium
(775) 233-8383

*ken.johnson@nvisium.com
<http://ken.johnson@nvisiumsecurity.com/>https://www.nvisium.com
<https://www.nvisium.com/>*

[2015-01-19 13:56] Nevraeka commented on #193
Any tweaks? Or constructive criticism? I'll upload an .eps & new .png when its finalized

[2015-01-19 14:03] cktricky commented on #193
You know, I really don't have anything to add, it looks pretty cool.

@meowris (our designer), do you have any thoughts? This is a logo for Railsgoat.

[2015-01-20 12:07] Nevraeka commented on #193
I sent the various formats to your emails @cktricky @mccabe615 . Here is the final logo

![railsgoat-hr](https://cloud.githubusercontent.com/assets/647043/5816826/f41d4208-a072-11e4-83e9-199e46305b7b.png)

[2015-01-20 12:07] #193 closed

[2015-02-10 00:52] cktricky opened #194 "Tutorial"
It has been asked that our tutorial also be made available in wiki form.

I'd like to implement a solution so that these can be managed from on centralized repo versus maintaing both a wiki and the railsgoat code base. Something to think about for the tuts branch (tutorial overhaul)

[2015-02-14 16:42] jasnow commented on #194
Have you thought of using Github's wiki feature for this. Here is the wiki for a project I worked on: https://github.com/PeaceCorps/medlink/wiki

[2015-03-21 17:47] mccabe615 opened #196 "Forgot Password Mailer not working"
When trying to reset a user's password the email is not sent to mailcatcher.

[2015-03-23 05:12] frenchi commented on #181
Hi @chrismo,

By scope injection vuln, did you mean [CVE-2012-6496](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-6496) in the [admin controller analytics method](https://github.com/OWASP/railsgoat/blob/master/app/controllers/admin_controller.rb#L18)?

I'm trying to replicate so I can be sure to write the right spec.

[2015-03-23 15:57] forced-request commented on #181
I think @chrismo is refering to the SQLi vulnerability inside https://github.com/OWASP/railsgoat/blob/master/app/models/analytics.rb#L4

[2015-03-23 16:10] chrismo commented on #181
been too long since I wrote this - sorry I didn't capture more detail at the time :/ @forced-request is probably right.

[2015-03-24 23:59] cktricky commented on #194
I'm done porting the initial content that was in railsgoat to the wiki. Next, I'll submit a PR that has these tutorials removed from within the app (no sense in maintaining in two places).

[2015-03-25 23:34] cktricky commented on #194
https://github.com/OWASP/railsgoat/pull/197

[2015-03-25 23:34] #196 closed

[2015-03-25 23:35] cktricky commented on #196
This was fixed in Pull Request #195

[2015-03-26 00:05] jasnow commented on #194
Suggestions:
 * Change the ["a1", filenames to "a1-Injections", "a2" to "a2-Broken Authentication and Session Management", etc] in the right sidebar to match the TOC page.
 * Note the the sidebar sorts the entries so "a10" comes before "a2."

[2015-03-26 12:44] cktricky commented on #194
I've done a bit of that after getting your suggestion but I have to say - the wiki pages listing is terrible because I can't actually organize this into sub-directories. Or at least I've not found a way.

[2015-03-27 22:06] cktricky commented on #194
#a6e5ba63ccf57449a836e91ae96ddff95aa63f73 Fixes this

[2015-03-27 22:06] #194 closed

[2015-06-09 17:16] cktricky opened #199 "Visit Tutorial Tab doesn't open a new tab"
Driving me nuts

[2015-06-09 18:32] cktricky commented on #199
Fixed in #40763588c7d26fb187296a046d6b5029e3e0e1e3

[2015-06-17 22:00] #199 closed

[2015-06-17 22:01] cktricky opened #201 "Ruby Version is out of date in Gemfile"
Since the ruby version is out of date, the Dockerfile exits with errors during the build process.

[2015-11-13 15:47] jasnow commented on #157
Done by https://github.com/OWASP/railsgoat/pull/202

[2015-11-13 15:47] #157 closed

[2015-11-13 15:57] jasnow commented on #140
@cktricky - Can we make this issue's title 'Adding Devise to Railsgoat' or create another one for Devise work?

[2015-11-13 17:22] cktricky commented on #140
Yes, lets do that, lets switch to Devise and let the "Auth from scratch" examples live in the Rails 3.x branch/tutorials. Do you want to open it?

[2015-11-13 17:22] cktricky commented on #140
Oh and we can close this issue

[2015-11-13 17:22] #140 closed

[2015-11-13 17:35] cktricky opened #207 "Adding Devise to Railsgoat"
See https://github.com/OWASP/railsgoat/issues/140 for reference but the basic gist is we want to change Railsgoat's current auth to use Devise and demonstrate weaknesses in configuration when using Devise. Ideally though, we figure out a way to discuss the "strengthening" aspects in our tutorials. Maybe a recommended guide or something.

Thanks to @jasnow for keeping an eye on this.

[2015-11-22 19:48] mccabe615 commented on #201
@cktricky Is this still true? We're running the latest version of Ruby and the docker images builds.

https://hub.docker.com/r/mccabe615/railsgoat/builds/bgbnr9sp5j6cyb4pym6bsjd/

[2015-12-09 14:37] cktricky commented on #176
We moved this to the wiki so no longer an issue

[2015-12-09 14:37] #176 closed

[2015-12-09 15:24] cktricky commented on #201
Seems to come up fine now. I'd try running `vagrant up` to make sure this still works as expected but in terms of just the docker image, it seems to be coming up fine.

[2015-12-09 15:24] #201 closed

[2015-12-24 16:03] cktricky commented on #102
This has been completed by putting tutorials on the wiki

[2015-12-24 16:03] #102 closed

[2015-12-28 14:08] cktricky commented on #207
Working on this in the devise branch.

[2015-12-28 14:29] jasnow commented on #207
4 random reference I found in my notes:
 * https://github.com/plataformatec/devise
 * http://guides.railsgirls.com/devise
 * http://www.sitepoint.com/devise-authentication-in-depth
 * https://github.com/phatworx/devise_security_extension

[2015-12-29 13:28] cktricky commented on #207
Thank you, @jasnow

[2016-01-07 18:12] injcristianrojas opened #216 "Data not shown"
I can't see any data when navigating through pages. Only when I refresh manually I can see the users list, for instance. I'm sending over a screenshot of the situation with a lot of typeErrors. I use Firefox 43 and Chrome 47 on Linux.

![screenshot from 2016-01-07 15-09-48](https://cloud.githubusercontent.com/assets/862690/12178561/e1478b18-b550-11e5-9e69-b035d9332673.png)

[2016-01-07 18:32] cktricky commented on #216
I have an idea of what is wrong, let's see what we can do to resolve.

[2016-01-07 18:34] jasnow commented on #216
@cktricky - Found that when I click on PTO (left side) - we get error page. Sending fix.

[2016-01-07 18:41] cktricky commented on #216
Looks like a call to populate the charts is causing the problem @jasnow

[2016-01-07 20:03] cktricky commented on #216
@injcristianrojas We will post a solution soon, in the meantime, you should be able to hit refresh from that screen and still have the table populated. Unfortunately, the root cause (I suspect) is how we are loading the partial - so a simple refresh (just to get you through what you're working on) should fix it until I can clean this up.

[2016-01-07 20:06] injcristianrojas commented on #216
@cktricky that's what I've been doing so far. Thank you for the quick responses and let me know when it's fixed, so I can close this issue real quick.

[2016-01-07 20:20] #216 closed

[2016-01-07 20:21] cktricky commented on #216
@injcristianrojas Should be fixed now, please `git pull origin master` and give it a spin.

[2016-01-07 20:32] injcristianrojas commented on #216
@cktricky The users list works, but the font size button has the same issue (push, then manually refresh for it to work)

[2016-01-07 20:41] cktricky commented on #216
I'm curious if that is just the way that always worked (the font button). Think @mccabe615 might have built it, so please chime in Mike.

[2016-02-15 01:09] apolloclark commented on #167
I just created a Gist, for installing Railsgoat into Kali 2.0:

https://gist.github.com/apolloclark/0884c79d40ef6774e5c0

This script should also work for Ubuntu 14.04, Ubuntu 15.10, Debian Jessie, and Debian Stretch. The only difficulty I encountered was installing ruby 2.3, since the current Debian stable version is only 2.2, hence using rbenv.

[2016-02-15 21:04] apolloclark commented on #167
I can confirm this script works with: Kali Linux 2.0, Debian Jessie, Ubuntu 14.04, Ubuntu 15.10, and can easily be reused to build some Docker containers.

[2016-02-15 22:00] cktricky commented on #167
Thanks @apolloclark , I think we can use possibly use this in the wiki or something to that effect. If we include a script, it has to be maintained, so I'm just contemplating best way to tackle. I think an editable wiki entry might be the best way (pointing to your gist).

[2016-02-15 22:08] apolloclark commented on #167
Sounds good. I personally prefer to use Ansible for provisioning, but a simple Bash script is the quickest, easiest, way for the largest group of people to get started.

For maintenance, I could update the travis.yml file to use Vagrant and ensure this script works with the build in the future. This will ensure support for the previously mentioned platforms. I don't know any way to build against a

[2016-02-15 22:54] cktricky commented on #167
Honestly if you'd be willing to update the vagrant build I'd be incredibly
grateful.

--
Ken Johnson, CTO
nVisium
775.233.8383 Mobile
*ken@nvisium.com* <ken@nvisium.com>
https://nvisium.com

Inc. 500 list of America’s fastest-growing private companies

On Mon, Feb 15, 2016 at 2:08 PM, Apollo Clark <notifications@github.com>
wrote:

[2016-02-16 15:38] apolloclark commented on #167
The Vagrantfile is just pulling down @mccabe615 's"mccabe615/railsgoat"  Docker image. So, attempt to update that?

[2016-02-16 15:42] mccabe615 commented on #167
It would probably be worthwhile to move the image to the official OWASP
DockerHub account. I can help with that if you can't get access Apollo.
Last time I checked (~3 months ago) the Vagrant file was working but worth
checking.

On Tue, Feb 16, 2016 at 10:38 AM, Apollo Clark <notifications@github.com>
wrote:

[2016-02-16 18:31] cktricky commented on #167
And we're on OWASP's Slack if @mccabe615 wants to assist you with that move
to OWASP Docker

--
Ken Johnson, CTO
nVisium
775.233.8383 Mobile
*ken@nvisium.com* <ken@nvisium.com>
https://nvisium.com

Inc. 500 list of America’s fastest-growing private companies

On Tue, Feb 16, 2016 at 7:42 AM, Mike McCabe <notifications@github.com>
wrote:

[2016-02-19 02:34] steakunderscore commented on #41
As of Ruby 2.2 symbols are now garbage collected. So to my understanding the app would need to revert to pre 2.2 to make this vulnerability possible.

Instead a DOS vulnerability could implemented via using `sleep()`. If you are using a app server that blocks on sleep, by saturating your app server pool with busy waiting will result in DOS. We could add a `sleep(5)` to one of the pages?

[2016-02-19 12:37] mccabe615 commented on #41
Good call. I think instead of sleep we should do something slightly less obvious that would result in a DoS. Such as a slow SQL query or regex. Would you want to implement something like that?

[2016-02-19 12:39] mccabe615 commented on #41
Good call. I think rather than an easy example like a system call to sleep or Ruby sleep, we should implement something a little less obvious. Such as a long SQL query or regex that would lead to DoS.

Would you like to help implement that @steakunderscore?

[2016-02-19 21:49] steakunderscore commented on #41
I was trying to make a slow regex that could be hidden, but it was actually harder than I thought it would be. Making use of the max get request size of just over 8k. This is what I came up with:

[code]

I'll have another look at it, maybe a slow sql statment, soon.

[2016-03-08 16:06] cktricky commented on #164
Note to self, close this when the devise branch is pushed into prod

[2016-03-10 20:01] steakunderscore commented on #41
I haven't had time to look further into slow regex/sql. Is it worth closing this issue as the [patch][sleep_patch] with a `sleep` was merged. Then open a different issue to replace the `sleep` method call?

[sleep_patch]: https://github.com/OWASP/railsgoat/pull/221

[2016-03-10 20:26] mccabe615 commented on #41
I think that makes sense. Thanks.

On Thu, Mar 10, 2016 at 3:01 PM, Henry Jenkins <notifications@github.com>
wrote:

[2016-03-15 01:16] jasnow opened #225 "Convert rspec 2.99 to 3.0.x including the changed "pending" role in Railsgoat project."
Convert rspec 2.99 to 3.0.x including the changed "pending" role in Railsgoat project.

Separated #159 into 2 issues.

[2016-03-15 01:52] jasnow commented on #159
Approach:
 1. Locked down aruba to 0.8.1.
 2. Locked down rake to 10.5.0 to avoid DEP warning.
 3. Ran "transpec -f" to convert from rspec 2.14.x to 2.99.0 a couple of times.
 4. Changed step 3's "skip"s back to "pending"s.

[2016-04-07 19:32] cktricky commented on #225
So pull request #226 is part of the effort to upgrade to 3.0 @jasnow ?

[2016-04-07 19:47] jasnow commented on #225
prereq

[2016-04-07 19:54] cktricky commented on #225
Thank you!

[2016-04-11 00:05] cktricky opened #228 "URI.parse... not so safe after all"
Thanks to @Katee, we now know that `URI.parse` is not so safe. The following schemas break intended behavior:

`@example.io/open-redirect`
`////example.io/open-redirect`
 `-example.io/open-redirect`

As such, we'll need to change our documentation and approach.

This appears to be an issue with the ruby URI code, [found here](https://github.com/ruby/ruby/blob/trunk/lib/uri/generic.rb).

My guess i

[2016-04-11 04:22] Katee commented on #228
I've created an example app on Heroku with two endpoints, I've only tested how some of the stranger looking redirects (like http://uri-parse-redirect.herokuapp.com/owasp?redirect=@kate.io/open-redirect) work in Chrome.

## Examples with current code from OWASP wiki

These are all open redirects:

* http://uri-parse-redirect.herokuapp.com/owasp?redirect=@kate.io/open-redirect
* http://uri-parse-red

[2016-04-11 06:20] jx6f opened #229 "DOM XSS does not work with Firefox version 40 or above"
I found that "A3 Cross Site Scripting DOM Based" does not work with Firefox version 40 or above.

https://github.com/OWASP/railsgoat/wiki/A3-Cross-Site-Scripting-DOM-Based#dom-based-cross-site-scripting-attack

According to this Firefox's specification change, `location.hash` returns percent-encoded value.

https://www.fxsitecompat.com/en-CA/docs/2015/urlutils-hash-no-longer-decodes-fragment/

* F

[2016-04-11 13:09] cktricky commented on #229
Resolved using the method you demonstrated @jx6f , thank you. Found in commit fafe94b571fcb064a719ccdb0a0412bb2493bd0c

[2016-04-11 13:09] #229 closed

[2016-04-11 16:38] cktricky commented on #228
Awesome @Katee ! Great info. What I'd like to do is dig into the code a bit of URI to see exactly _what_ it does not handle properly. Won't be during the day today, but I am hoping for some cycles this evening.

Cheers!!!

[2016-04-14 19:08] jasnow commented on #159
Since @cktricky merged #226, I will close this issue as done. The next step will be tracked in #225.

[2016-04-14 19:08] #159 closed

[2016-04-14 21:36] jasnow opened #232 "More upgrade loose-ends"
Also unlock "rake" from 10.5.0 (3/14/2016: Currently the latest is 11.1.1)

Also unlock "aruba" from 0.9.0.pre (3/14/2016: Currently the latest is 0.14.0)

[2016-04-17 06:27] ajvb commented on #184
:+1: To this. I was really bummed when I was going to try and fix a vulnerability and discovered the solution commented out.

[2016-04-17 14:38] cktricky commented on #184
We'll remove them, thank you.

--
Ken Johnson, CTO
nVisium
775.233.8383 Mobile
*ken@nvisium.com* <ken@nvisium.com>
https://nvisium.com

Inc. 500 list of America’s fastest-growing private companies

On Sun, Apr 17, 2016 at 2:27 AM, AJ Bahnken <notifications@github.com>
wrote:

[2016-04-19 16:11] #184 closed

[2016-04-27 14:34] #225 closed

[2016-04-27 15:28] jasnow commented on #225
You are welcome.

[2016-05-16 21:28] cktricky commented on #228
Interestingly enough @Katee I also discovered urllib (Python) seems to suffer from the same issue:

[code]

[2016-05-20 22:55] mccabe615 commented on #41
Implemented by #221

[2016-05-20 22:55] #41 closed

[2016-05-21 01:26] mccabe615 commented on #161
Added

https://github.com/OWASP/railsgoat/wiki/Extras:-Remote-Code-Execution

[2016-05-21 01:26] #161 closed

[2016-05-22 19:32] flarecriteria commented on #228
Isn't this the same behavior as #188 ?

[2016-05-22 21:16] cktricky commented on #228
#188 is more of a functional bug AFAICT whereas this is a failure in the `parse` method to properly parse path and host from a security perspective. Our recommended bug fix just needs to be changed in the wiki docs (but tested thoroughly first).

[2016-05-22 23:33] flarecriteria commented on #228
They are the same bug.

Namely failing to note that URIs are not URLs, and to correctly validate the path portion of the URI as a URL path.

Basically you're saying that it's a URI parser bug that a valid URI path can contain a string value that a browser implementation could possibly interpret as valid absolute url, when you only want to allow a relative url. This is false, though it is starting

[2016-05-23 01:59] cktricky commented on #228
I think you're right about confusing URL parsing with URI parsing. Was not at all aware of `Rails.application.routes.recognize_path(path)` so thank you for that.

🍻

[2016-05-23 01:59] cktricky commented on #188
Closing this as #228 has more info on the same issue.

[2016-05-23 01:59] #188 closed

[2016-05-23 02:34] flarecriteria commented on #228
I wasn't aware of it either till I saw #188.

Getting URIs and URLs all twisted up is a pretty common thing.

I also learned some odd things about ruby's URI implementation.

Namely, it's normalization doesn't do much (leaves paths unchanged), and `URI::HTTP::build` does not implement [RFC1808](https://www.ietf.org/rfc/rfc1808.txt). Which results in things like:
[code]
Which makes it unusable in t

[2016-06-01 20:10] cktricky opened #238 "Gauntlt"
Let's go ahead and remove this for now. If we want to configure later, great. But as of right now, its not configured.

[2016-06-01 20:14] cktricky opened #239 "Rubocop"
@jasnow Doesn't appear that Rubocop is being utilized, is it okay to remove? Looks like last commit was since May 2015

[2016-06-01 20:20] jasnow commented on #239
sure - found in .overcommit file

[2016-06-01 20:23] jasnow commented on #238
assign me

[2016-06-01 20:23] jasnow commented on #239
assign me

[2016-06-01 21:03] cktricky commented on #164
Closing this because we're fixing it in devise.

[2016-06-01 21:03] #164 closed

[2016-06-01 21:05] cktricky commented on #163
We have removed comments from the source code, or are planning to remove any comments that may linger. In general during this devise upgrade, we're cleaning up tutorials so its not really an "issue" anymore so much as part of our to-do list on another effort.

[2016-06-01 21:05] #163 closed

[2016-06-01 21:09] mccabe615 opened #241 "Move to Docker-Machine/Compose"
Railsgoat needs to move to using Docker-machine versus vagrant and boot2docker. Docker compose should be used to bring up the app and database.

[2016-06-01 21:10] #183 closed

[2016-06-01 21:10] cktricky commented on #183
This is a great issue we've kept open for posterity but I think we can cover *how* to test timing attacks in the tutorial versus having this issue open.

[2016-06-01 21:19] mccabe615 opened #242 "Move Docker image to official OWASP Docker Hub account"

[2016-06-01 21:28] mccabe615 opened #243 "Document Devise"
Document the Devise related vulnerabilities:

* Password complexity
* Devise token in source
* No post password change email
* No lockout

[2016-06-02 16:19] #238 closed

[2016-06-02 16:19] #239 closed

[2016-06-06 22:23] #232 closed

[2016-06-10 02:04] cktricky commented on #186
Updated the wiki to remove that column as per this conversation.

[2016-06-10 02:04] #186 closed

[2016-06-10 02:36] #165 closed

[2016-06-15 02:24] mccabe615 commented on #242
The docker image is now hosted on the OWASP account with automated builds going.

https://hub.docker.com/r/owasp/railsgoat/

[2016-06-15 02:24] #242 closed

[2016-06-22 19:52] jasnow opened #247 "Empty Railsgoat Wiki pages"
This maybe to known but ran into these empty wiki pages today.
- "A5 - Security Misconfiguration"
  - https://github.com/owasp/railsgoat/wiki/R4-A5-Security-Misconfiguration
- "Extras - Logic Flaws" (redirects back to https://github.com/OWASP/railsgoat/wiki page)
  - https://github.com/owasp/railsgoat/wiki/extras-logic-flaws
- "Extras - Metaprogramming" (redirects back to https://github.com/OWASP/

[2016-06-23 16:59] cktricky commented on #247
Ouch, ya, this is part of me changing the tutorials up and I introduced some issues. I'll clean this up later.

[2016-08-29 02:03] mccabe615 commented on #247
I _think_ I fixed this. I added some blank pages for placeholders then updated links to pages that already existed. @jasnow let me know if there are other ones.

[2016-08-29 02:03] mccabe615 commented on #241
Completed in #248

[2016-08-29 02:03] #241 closed

[2016-08-29 02:22] mccabe615 commented on #72
I don't think RJS is in use much anymore. @cktricky what do you think about closing?

[2016-08-29 23:11] jasnow commented on #247
I still see the same behavior as on June 22.

[2016-08-29 23:21] jasnow commented on #72
Do we know the percentages of each version of Rails used in production?

[2016-08-30 16:32] jasnow commented on #247
Update on status of 3 wiki links.

......................................................................
Rails 3

 * A5 - Security Misconfiguation (2 sublinks worked)

 * Extras - Logic Flaw => 2 sublinks which go back to home wiki (open)

 * Extras - Metaprogramming => 3 sublinks =>
   * Metaprogramming (ok)
   * Ruby Metaprogramming (Got Heroku error, open)
   * Contstantize (went back to home

[2016-09-06 16:13] cktricky commented on #72
I don't have any stats, no.

[2016-09-06 16:13] cktricky commented on #72
also - I'm okay to close it @mccabe615

[2016-09-06 16:17] mccabe615 commented on #72
![screen shot 2016-09-06 at 12 16 18 pm](https://cloud.githubusercontent.com/assets/1463253/18281670/ba19e9ba-742b-11e6-88c5-25a88aaa0f87.png)

Doesn't show total downloads but clearly Rails 4 is growing, from here.

https://infinum.co/the-capsized-eight/articles/analyzing-rubygems-stats-v2015

[2016-09-06 16:17] mccabe615 commented on #72
Closing it out.

[2016-09-06 16:17] #72 closed

[2016-09-06 16:20] cktricky commented on #72
I think I got just mic dropped on  😂

[2016-10-08 17:49] mccabe615 opened #252 "Update readme re:phantonjs"
@jasnow can you update the readme with the pertinent info for phantomjs? If we need a certain version of phantomjs than that should be documented. Thanks for this PR!

[2016-12-10 17:10] jasnow commented on #252
@mccabe615 - Added phrase containing version to README as part of PR#253. Would appreciate if you would review and comment. Thanks.

[2017-01-19 17:42] jmmastey opened #254 "Interest in Rails 5 Port?"
If I were to undertake verifying that this is still vulnerable to the whole Top 10 list in Rails 5, would a PR for that contribution be welcome?

[2017-01-19 18:33] cktricky commented on #254
Absolutely, unfortunately both @mccabe615 and I have not had a ton of free time to invest over the last year so this would be appreciated.

[2017-01-30 15:19] jmmastey commented on #191
Can I push up a quick branch for this? It caused lots of confusion with my students when they fixed the password complexity issue and then the seed file just stopped working. Considering the seedfile, for instance, isn't actually a lesson, it's hard to hunt down all the places where the test data causes issues.

In some cases, the bad passwords caused a failing spec to become pending, and/or a pen

[2017-01-30 22:39] cktricky commented on #191
Ahh, I think we'd need to add a `user.save(:validate => false)` in the seeds file. Would that help?

[2017-01-30 22:55] jmmastey commented on #191
Any reason why we couldn't just change to conformant passwords in the seeds? The user will still hit the  `password_complexity_spec` successfully. Or, honestly, I think there's really only one or two of those seeds (I think the admin, specifically) that other activities rely on.

[2017-06-09 07:07] wobh opened #258 "Error running tests for the first time"
With a clean install, I run into this error when running tests:

[code]

I was able to get past this error by adding gems `rails-perftest` and `ruby-prof`. (https://github.com/rails/rails-perftest). However, there's another error after this one:

[code]

This has me wondering if the performance tests are worth keeping, or perhaps they should be tagged in someway so they aren't run in Rails 4, for

[2017-07-12 14:11] jmmastey commented on #254
Fixed by #255

[2017-07-12 14:11] #254 closed

[2017-08-14 21:39] cktricky commented on #252
Looks like this was done already in #253

[2017-08-14 21:39] #252 closed

[2017-08-14 21:40] cktricky commented on #258
For some reason I never saw this issue opened until today while going in and trying to do clean-up. So sorry @wobh but did you find your answer?

[2017-08-14 21:45] cktricky commented on #247
Taking as stab at this... will update this as progress is made:

A5 - Security Misconfiguation - Blank (open) 🐛
~Extras - Logic Flaw - Blank (open)~ ✅
Extras - Metaprogramming - Blank (open) 🐛
EOF

[2017-08-14 22:02] cktricky commented on #247
Closing as I believe this is now resolved

[2017-08-14 22:02] #247 closed

[2017-08-16 16:16] cktricky commented on #258
@wobh Poking one more time before closing, thanks!

[2017-08-18 22:47] wobh commented on #258
Sorry! I did not find an answer. I became rather busy with other things and forgot all about it. I'll circle back to this soon, I hope.

[2017-08-19 13:53] zactly-ken commented on #258
I'm the one who is sorry 😄 (as I missed this issue for nearly 2 months). Thank you!

[2017-08-19 13:54] cktricky commented on #258
I'm the one who is sorry 😄 (as I missed this issue for nearly 2 months). Thank you!

[2017-08-22 12:03] jasnow commented on #258
@cktricky - Was able to reproduce by "bundle exec rake test".
Note that "test/performance/browsing_test.rb" is not run by default.
Should we remove it or fix the repo to run it cleanly?

[2017-08-23 14:34] cktricky commented on #258
Hey @jasnow I'm trying to see if I can just fix it. Mainly in the case someone decided they wanted to use this functionality in the future - figured it'd make sense to try and get it working rather than removing. Consider it "In progress".

[2017-08-24 13:26] cktricky commented on #258
@wobh and @jasnow I've resolved this issue on both the Rails 4 and 5 branches. Thanks for your help!

[2017-08-24 13:26] #258 closed

[2017-09-18 17:29] jmmastey opened #261 "Mind if I work through the old issues here?"
I think many have long since been solved. Mind if I do a bit of cleanup?

@cktricky

[2017-09-18 17:31] cktricky commented on #261
Please do @jmmastey! I started a few weeks ago but got distracted by something shiny. Thanks!

[2017-09-18 18:33] jmmastey commented on #228
Hey @ctricky, suggestion, since the current advice leads to a vulnerability and has been broken for quite a while. Writing a proper URL parser is probably not going to be reasonably in scope. The `addressable` gem seems nice, but again that's probably heavyweight.

1. I can make a change to https://github.com/OWASP/railsgoat/wiki/A10-Unvalidated-Redirects-and-Forwards-(redirect_to) that walks thro

[2017-09-18 18:52] cktricky opened #264 "Run Rubocop *and cry*"
As @mccabe615 pointed out, we should really run a linter/rubocop against the railsgoat code-base (no, not so we can cry) - so that we can make this all look a little more professional.

[2017-09-18 18:54] cktricky commented on #187
Good call 👍

[2017-09-18 18:55] #187 closed

[2017-09-18 19:00] cktricky commented on #228
@jmmastey I'd tend to agree, and is a part of why this issue has stuck here for so long. Think the course of action you mention is the best way to handle.

[2017-09-18 19:04] flarecriteria commented on #228
It might be useful to give a _brief_ mention on the difference between URLs and URIs as well. The understanding the _why_ of this issue might help as much as the what to do about it. I doubt this is the only place most people who write online applications will get into trouble with this.

[2017-09-18 19:11] cktricky commented on #228
You're right @flarecriteria in fact, just this week I saw this issue come up. Understanding the multi-schema support is a big part of knowing.

![image](https://user-images.githubusercontent.com/544667/30559755-b2e88332-9c83-11e7-8ebc-cd6f4fe699d6.png)

[2017-09-18 19:20] flarecriteria commented on #228
@cktricky Can we actually put  **URIs as URLs** as A10? I would think that would be anti-pattern and then **A10 Unvalidated Redirects and Forwards** just an instance of it.

[2017-09-18 19:24] oreoshake commented on #264
Personally I'm not a fan of the default rubocop settings and use https://github.com/github/rubocop-github as a starting point. Unfortunately, it can lag behind in supported rubocop version.

`rubocop -a && git commit -am "yolo" && git push origin HEAD`

[2017-09-18 19:47] cktricky commented on #264
Oooh, ty kindly sir. 🙇  We'll go this route. (it won't be a small effort, I'm sure)

[2017-09-18 21:24] #261 closed

[2017-09-19 14:07] jmmastey commented on #166
@ctricky suggestion:

I tried reversing the logic on one of the spec files: https://gist.github.com/jmmastey/9f04ef9cc4919546a41fbbce46171446

I think this is an improvement for users, and it's not much worse for the maintainers. Basically, the user gets a bunch of red tests that she is responsible for turning green. No extra `pending` markers in the tests themselves, and the normal sort of "make

[2017-09-19 14:57] #185 closed

[2017-09-19 15:02] jmmastey commented on #228
My understanding is that the naming is specifically meant to match to the 2013 OWASP Top 10 list. I wonder if there's another item from the list that best matches mistaking URLs and URIs (which I agree is an important issue).

Regardless of placement, we should cover both topics.

[2017-09-19 15:28] cktricky commented on #228
Since the title's match up with the OWASP Top 10 (immutable except in the instance the categories themselves change - which, will happen with the 2017 version) - I'd imagine the sanest course of action would just reference the additional write-up **from** A10 (and make a separate write-up) *but* keep the title the same.

[2017-09-19 20:24] chrismo commented on #166
@jmmastey i like the idea! can you show it in a PR so I can easily glance at the diff?

[2017-09-19 20:59] jmmastey commented on #166
@chrismo here's the diff from just that first change:

https://github.com/OWASP/railsgoat/compare/master...jmmastey:invert-specs?expand=1

[2017-09-19 23:27] cktricky commented on #166
Went back thru, re-read all of the comments of this issue, and reviewed your proposed fix in order to (re)understand what we're trying to solve. I think your proposed solution is great, and may solve some of the "huh?" factor when newcomers try running their tests.

[2017-09-19 23:32] #191 closed

[2017-09-20 02:26] jmmastey commented on #189
I think this is no longer a relevant concern since changing to a `attr_accessible` / strong params strategy. @chrismo could you confirm?

[2017-09-21 19:53] jmmastey commented on #228
What do y'all think of this solution?

https://github.com/jmmastey/railsgoat-wiki/pull/1

(there's no version control on the wiki itself, so I figured this would be a useful diff. I'll just push up directly to the wiki when we nail down the right verbiage)

[2017-09-21 21:39] cktricky commented on #228
I like the write-up, it definitely clarifies the difference between URL/URI and shows the history of how the recommendations evolved. Nicely done 💯

The only question I have is, what do you think if we swapped out this:

[code]

With something like this:

[code]

I'd imagine even if the user || attacker supplies garbage data, you still won't get the host to match-up with the whitelist. Was just th

[2017-09-22 15:40] jmmastey commented on #228
It's an interesting upgrade, because it does _technically_ solve the URI parse issue:

[code]

The only thing I really don't like about it is that it seems to bury the URI fix itself as a side effect of the `parse` method. Let me try to work it into the text.

[2017-09-22 15:47] jmmastey commented on #228
Okay, take a look now @ctricky.

[2017-09-24 21:10] cktricky commented on #228
Took a look, and looks great @jmmastey 👍

Thank you!!!

[2017-09-25 15:51] jmmastey commented on #228
Done and closing!

[2017-09-25 15:51] #228 closed

[2017-09-25 16:46] cktricky commented on #228
Thank you, and I owe you a look at those other open PRs 🤘

[2017-09-25 17:35] jmmastey opened #270 "Add bonus for Rails 5.1 Encrypted Secrets"
There's a new security-related feature that a lot of devs won't be familiar with:

http://weblog.rubyonrails.org/2017/4/27/Rails-5-1-final/#encrypted-secrets

Right now `initializers/key.rb` has a not-entirely-insecure approach of just completely omitting a production key, but the current state of the art is usually `ENV` based and I'd like to expand on that in the tutorial.

[2017-10-02 23:09] #181 closed

[2017-11-14 19:47] mccabe615 opened #281 "Update rubocop to the github rules"
Currently the github ruboco gem doesn't work with the latest version of rubocop. An issue has been created. Once the issue has been resolved we should integrate the gem instead of the rules currently in use.

Issue:
https://github.com/github/rubocop-github/issues/18

[2017-12-06 00:28] jmmastey commented on #189
@cktricky I dug around in this a bit more and I'm pretty positive it's no longer relevant since we moved off of attr_accessible. I think we can safely close this. What do you think?

[2017-12-06 12:53] cktricky commented on #189
Thanks @jmmastey I'll close it!

[2017-12-06 12:53] #189 closed

[2017-12-06 15:46] #281 closed

[2017-12-06 20:32] cktricky opened #287 "Scope injection attack write-up is wrong"
It appears to be part of the solution rather than the attack explanation.

[2017-12-06 20:34] cktricky commented on #264
We now have [this pull request merged](https://github.com/OWASP/railsgoat/pull/286) which is basically step 1 and this issue, step 2.

[2017-12-11 16:39] #264 closed

[2017-12-16 16:36] #166 closed

[2017-12-17 14:43] cktricky commented on #167
So there are a couple items before we can close this out.

- [ ] Getting started (gh-pages branch) needs an update to remove outdated ruby versions and really just point to the readme.md as for actual installation instructions.

- [ ] Decide if we want to keep railsgoat.cktricky.com and make its' "getting started" more about the way to approach learning with railsgoat - or scrap it and dedicate a

[2017-12-17 19:11] mccabe615 commented on #167
I'm fine with relying on the readme as the starting place. The website could be an overview of the app and it's purpose to serve as an introduction.

[2017-12-17 19:22] jmmastey commented on #167
Is there anything that the custom domain can do, that the wiki +readme cannot? Seems the wiki gets much more frequent attention, and people understand using github wikis to research.

Or alternatively, is there anything on the website that _shouldn't_ already be incorporated into the wiki + readme?

[2017-12-18 14:29] cktricky commented on #167
I think the attribution/thanks and a more comprehensive overview of how to use railsgoat from a teaching/learning perspective. Both of these would be betters suited in the wiki. I have two main reasons to remove the site

1 - Consolidate where information comes from (wiki is better IMO) and this also means less to maintain.

2 - Its on my personal domain. Its an OWASP project first and foremost, n

[2017-12-19 16:15] cktricky commented on #287
Done https://github.com/OWASP/railsgoat/wiki/A1-SQL-Injection-Interpolation

[2017-12-19 16:15] #287 closed

[2017-12-19 16:16] cktricky opened #293 "Change all wiki entries to remove `user_id` where appropriate"
Due to changes me in PR #290, need to go through the wiki and identify anywhere `user_id` needs to be changed to `id`.

[2017-12-24 15:27] cktricky commented on #293
Done. I'd just swapped in new "R5" version of the pages where applicable and changed where applicable. 🎄 🎅 🎁

[2017-12-24 15:27] #293 closed

[2018-01-04 17:03] jasnow opened #294 "pending semantics changed in rspec 3.0 and now getting a lot more output for RAILSGOAT_MAINTAINER='yes' rake'"
**pending** semantics changed in rspec 3.0 and now getting a lot more output for **RAILSGOAT_MAINTAINER='yes' rake'**

Attached a file with sample output: [o_rmr.txt](https://github.com/OWASP/railsgoat/files/1604045/o_rmr.txt)

This includes many **Failure/Error:** stack traces.

[2018-01-05 14:35] jasnow commented on #294
@cktricky - Is this expected output?

[2018-01-05 15:41] cktricky commented on #294
This is the expected output after PR #291. The output shows 7 functional tests passing and 14 security tests pending.

The output is a bit lengthy but if you take, as an example, #14 - the reason for pending makes sense:

[code]

When the redirect attack works, and the user is not redirected to `/dashboard/home` and instead is sent to `http://example.com/do/evil/things` then we still have a securi

[2018-01-05 15:51] mccabe615 commented on #294
@jmmastey is there a way to limit the output then add a verbose flag to get more output? This is a lot for a new user to parse when running these tests, though it's useful for debugging once you get the issue.

[2018-01-05 16:32] jmmastey commented on #294
A lot of the output is "page contains X" stuff, so that might be a good place to start.

Otherwise, the text is coming from stacktrace spam. One thought would be to dig into the RSpec error reporter a little bit and use something like this:

http://api.rubyonrails.org/classes/ActiveSupport/BacktraceCleaner.html

Another idea would be to teach students to use `fit` (focus mode) to fix one test at a

[2018-01-05 17:53] jasnow commented on #294
Check out the **Changes to pending semantics (and introduction of skip)** at http://rspec.info/blog/2014/05/notable-changes-in-rspec-3. We stayed at rspec 2.99 for a long time because of the special pending usage in this repo - we lose pending's **old "never run" behaviour** which prevented the code from triggering.

[2018-01-05 18:27] jasnow commented on #294
I have the fix. I will push it as a PR after today's gem upgrade PR is approved and merged.

[2018-01-11 13:43] jmmastey commented on #294
@cktricky what are your thoughts on the PR @jasnow put up?

[2018-01-23 15:31] cktricky commented on #294
Sorry, circling back. So is the problem the amount of output because of the stacktrace or the tests staying in pending mode?

If its the first, I'd agree, we can make that easier to grok.

The pending mode is a bigger challenge because, here is what we're trying to accomplish

Maintainers:

1) Tests that verify functionality is still... functional
2) Vulnerabilities are still... vulnerabilities

S

[2018-01-23 16:41] jasnow commented on #294
@cktricky, @mccabe615
Here is a copy of the railsgoat repo (I saved) before applying the 4Q's changes:
 * https://github.com/jasnow/railsgoat17
Now you can compare both modes and study/fix/accept the regression(s).

[2018-01-30 14:44] cktricky opened #299 "Summer of Code"
@jasnow is taking point on writing up a wiki page for summer of code and railsgoat 👍

Thank you, Al and let me know if you need anything!

[2018-01-30 15:02] jasnow commented on #299
will do

[2018-01-30 15:52] jasnow commented on #299
Created draft page and added it to it to home wiki page. Feel free to edit.
Probably will create a **admin** wiki subpage to cover general stuff - dates/deadlines, roles, etc).

[2018-01-30 16:50] cktricky commented on #299
[This is the link to the page](https://github.com/OWASP/railsgoat/wiki/RailsGoat-Summer-of-Code-Type-Project-Ideas) @jasnow created. If I'm reading this write, our best chance is for OWASP to be accepted as a SOC project and then apply to be a subproject underneath them.

[2018-01-30 18:20] jasnow commented on #299
Added another [page]( https://github.com/OWASP/railsgoat/wiki/OWASP-RailsGoat-Ideas-Page-(Draft)) OWASP/GSOC template and linked to above page. Feel free to add/answer **TBDs**.

[2018-02-02 13:54] jasnow commented on #299
Found a blog post from Debian about their xSOC program: https://bits.debian.org/2018/02/welcome-outreachy-interns-2017-2018.html

[2018-02-02 13:58] jasnow commented on #299
Found a blog post from RGSOC. Added it to wiki: https://railsgirlssummerofcode.org/blog/2018-02-01-applications-are-open

[2018-02-02 19:17] jasnow commented on #299
My membership in OWASP GSOC Google Group approved today: https://groups.google.com/forum/#!forum/owasp-gsoc

[2018-02-02 20:06] cktricky commented on #299
This is awesome news. I'm going to try and carve some time out this weekend to review all of this and help out in whatever way I can.

[2018-02-05 02:33] pich4ya opened #301 "Undocumented Remote Code Execution Vulnerability"
There is a Wiki page for [Extras: Remote Code Execution](https://github.com/OWASP/railsgoat/wiki/Extras:-Remote-Code-Execution) but no real RCE exploit is demonstrated there. Here it is.

Exploit: https://gist.github.com/pich4ya/8bea4a60f70f984afc872cd1109aa7a7

![screen shot 2561-02-05 at 09 03 03](https://user-images.githubusercontent.com/2099767/35786095-7bba9f66-0a57-11e8-87a8-796cb15f1497.png

[2018-02-12 23:23] jasnow commented on #299
[2/12/2018: GSOC Mentoring Organizations announced](http://opensource.googleblog.com/2018/02/gsoc-2018-organizations.html)

[2018-02-13 17:34] ap00rv opened #303 "Undocumented Local File Inclusion (LFI) Vulnerability"
![image](https://user-images.githubusercontent.com/10767622/36164091-f0bf9424-10b0-11e8-93dc-05e3bd8c1210.png)

The vulnerability can be exploited at this URL :

http://localhost:3000/download?name=public%2Fdocs%2FHealth_n_Stuff.pdf&type=File

If the 'name' parameter's value  is changed to "/etc/passwd" , the file is donwloaded.

This issue was flagged by Brakeman scanner. The vulnerable code is p

[2018-02-13 20:49] cktricky commented on #303
We do have this [documented here](https://github.com/OWASP/railsgoat/wiki/Extras:-Constantize) but as noted in Issue #169... its categorized or co-mingled with another vuln in a weird way (demonstrating LFI/Traversal via metaprogramming). Although its kind of a duplicate issue, do appreciate you sending this in 👍

[2018-02-13 20:49] #303 closed

[2018-02-13 20:56] ap00rv commented on #303
my apologies for not going through all of the documentation. Thank you for pointing it out .  :)

[2018-02-13 21:03] cktricky commented on #169
I should probably do this as it was pointed out to me this issue is over 3 years old sooooo... bump to myself? idk

[2018-02-13 21:27] cktricky commented on #303
Oh no, its not your fault, we didn't have it listed in Rails 5 (what master is at) and also, the issue is 3 years old so I should have fixed this by now. If anything, you reminded us (and me, specifically) that its important this is fixed. So... thanks 😄

[2018-02-13 21:33] cktricky commented on #299
Hey @jasnow, thanks for the link, looks like OWASP [made the cut 🎉](https://summerofcode.withgoogle.com/organizations/?sp-page=5). So I guess we go the route of sub project.

- [ ] Check slack, email, interwebz for info on signing us up as a sub project

[2018-02-15 16:14] jasnow commented on #299
Everyone is invited to join me in our Slack channel [#project-railsgoat](https://owasp.slack.com/messages/C04THC44W) tomorrow night (7:30pm ET) to learn more about how we can participate in the Google Summer of Code as part of OWASP. Please spread the word. Thanks

[2018-02-16 16:46] jasnow opened #305 "Update RailsGoat to OWASP Top Ten 2017 version"
* Update RailsGoat to OWASP Top Ten 2017 version.
   * Found this in README file: Conversion to the OWASP Top Ten 2013 completed in November, 2013.

* Reference: https://www.owasp.org/index.php/Top_10-2017_Top_10

 * Reference: https://github.com/OWASP/Top10

 * OWASP Slack channel: [project-top-10 (documentation)](https://owasp.slack.com/messages/C1QBMGU69)

[2018-02-16 16:50] jasnow opened #306 "Create automation to build a self-contained Capture-The-Flag competition image"
Create automation to build a self-containted Capture-The-Flag competition image (VM, ISO, etc) which contains everything needed, such as [Operating System, Rails Stack, RailsGoat], so RailsGoat can be used in more Capture-The-Flag competitions.

Note that there is some current support for Docker.

[2018-02-16 16:52] jasnow opened #307 "Merge "Security on Rails" book's lunchedin examples into RailsGoat"
Merge "Security on Rails" book's lunchedin examples into RailsGoat.
We now have permission from publisher. Ask @jasnow for details.

[2018-02-16 17:12] jasnow commented on #305
Is OWASP Top 10 - 2017 version official?

[2018-02-16 18:19] jmmastey commented on #306
👍 Big fan of this.

Would this be a good opportunity to consolidate some of the `pow` / `launchy` / `foreman` related stuff into a single well-designed usage?

[2018-02-17 00:45] jasnow commented on #299
Here's the agenda for tonight's [Slack channel meeting](https://github.com/OWASP/railsgoat/wiki/RailsGoat-Summer-of-Code-Slack-Meeting-Agenda-(2-16-2018)). Feel free to ping me with questions/suggestions/etc. Very important to tell us if you are interested in participant in any way. Thanks.

[2018-02-17 00:49] jasnow commented on #306
@jmmastey - Thanks for your comment. Encourage you to go to our [wiki page](https://github.com/OWASP/railsgoat/wiki/RailsGoat-Summer-of-Code-Type-Project-Ideas) on the Summer of Code program and learn more. Cheers.

[2018-02-17 13:27] jasnow commented on #299
@mccabe615 @cktricky @jmmastey @jamesejr @nvisium-john-poulin @chrismo:
If you are interested in participating as a mentor or technical advisor on the RailsGoat Google Summer of Code team, please contact [me](jasnow@hotmail.com) by noon EST on Feb. 20. I have created [wiki page](https://github.com/OWASP/railsgoat/wiki/RailsGoat-Summer-of-Code-Type-Project-Ideas) to cover this initiative. Also I am

[2018-02-18 14:08] jasnow commented on #306
Looks like there is overlap with this **Getting Started Improvement** issue: https://github.com/OWASP/railsgoat/issues/167

[2018-02-18 16:20] cktricky commented on #306
Yes please 😄

Agreed, definitely some overlap.

[2018-02-18 16:22] jasnow opened #308 "Add Code of Conduct file"
As mentioned on https://github.com/OWASP/railsgoat/community page,
please add a **Code of Conduct** file.

REFERENCE: http://tiptoes.ca/how-were-making-code-of-conduct-enforcement-real%E2%80%8A-%E2%80%8Aand-scaling-it

Example: https://www.freebsd.org/internal/code-of-conduct.html

[2018-02-18 16:23] jasnow opened #309 "Add Contributing file to repo"
As mentioned on https://github.com/OWASP/railsgoat/community page,
please add a **Contributing file**.

[2018-02-18 16:25] jasnow opened #310 "Add Issue Template to repo"
As mentioned on https://github.com/OWASP/railsgoat/community page,
please add a **Issue template** to repo.

[2018-02-18 16:43] jasnow commented on #167
Added Github issues #308 (Code of Conduct), #309 (Contributing file)", #310 (Issue or PR template (2 separate files)). Note the Code of Conduct has 2 defaults to start with.

[2018-02-19 15:04] jasnow commented on #308
Example: https://www.freebsd.org/internal/code-of-conduct.html

[2018-02-19 15:12] cktricky commented on #299
@jasnow I can be a technical advisor, potentially mentor. Would assume you'll be taking a mentor role for Railsgoat, @jasnow? [According to this](https://www.owasp.org/index.php/GSoC#Instructions_for_OWASP_Project_Leaders) I just need to contact the administrators. Doing that now.

To reach the OWASP administrators for Summer of Code, please send an email to the GSOC Administrators below.

- [ ] C

[2018-02-19 15:21] jasnow commented on #299
@cktricky - I have added you to the generic idea wiki page as "technical advisor, potentially mentor." I call myself the point of contact/coordinator for RailsGoat OWASP/GSOC initiative. This morning we had one person sign up for the mentor and I'm adding him to generic idea wiki page. Also I have already contact one of the OWASP/GSOC Admins and have access to the OWASP/GSOC Google Group.

[2018-02-19 15:49] cktricky commented on #299
Let me just clarify:

* You're not a mentor, but a coordinator instead, correct?
* Someone has signed up to be a mentor or someone signed up to *be* mentored? If it is to be mentored, I think you are [talking about this conversation/person](https://owasp.slack.com/archives/C04THC44W/p1518923200000043)?

I'm still going to reach out to the OWASP GSoC Admins to get an account for Mike and I but it h

[2018-02-19 16:01] jasnow commented on #299
Currently I see everything as very fluid. I did not assume you would be involved - unless you volunteered. If you want to be the POC with OWASP and/or GSOC, I will be glad to step aside. "Coordinator" and "Technical Advisor" are not official roles for OWASP/GSOC or GSOC. I made them up.

[2018-02-19 16:18] jasnow commented on #299
I have the "Coordinator" and "OWASP Project Leader" role line on our wiki to clarify these roles.

[2018-02-19 16:19] jasnow commented on #299
@cktricky - Are you saying that Mike has volunteered to will be a mentor too?

[2018-02-19 16:22] jasnow commented on #299
@cktricky - Never-mind about previously comment. I see your email to OWASP/GSOC and will modify our wiki to match.

[2018-02-19 17:23] cktricky commented on #299
Ahh good good, glad confusion is cleared. I just wanted to make sure OWASP knew you were the lead/coordinator for this gsoc project. :thumbsup:

[2018-02-19 18:29] jasnow commented on #299
Requested OWASP.org email so I can log into OWASP/GSOC wiki and post our ideas.

[2018-02-20 20:52] jasnow commented on #299
Just posted (Asking for Mentors and Technical Advisors) to local dcNNN email list.

[2018-02-20 21:04] jasnow commented on #299
Just posted(Asking for Mentors and Technical Advisors) to local Rails Meetup.com mail list.

[2018-02-20 21:06] jasnow commented on #299
Just posted (Asking for Mentors and Technical Advisors) to local OWASP Meetup.com mail list.

[2018-02-20 23:35] jasnow commented on #299
Another project's idea list: https://wiki.debian.org/SummerOfCode2018/Projects#SummerOfCode2018

[2018-02-20 23:44] jasnow commented on #299
Just posted (Asking for Mentors and Technical Advisors) to OWASP - GSOC Google group.

[2018-02-21 14:54] nvisium-john-poulin opened #311 "Update A2 Password Complexity Documentation"
There are several issues with this documentation.

1) The documented solution and bug  still uses hash rocket syntax, which causes errors on Rails 5.1. I found a working solution with the following:

[code]

2) After implementing the password policy, unit tests were failing because the database couldn't seed properly. We should add a note to the documentation that users will need to change the see

[2018-02-21 15:28] nvisium-john-poulin opened #312 "Update R5 A4 documentation for IDOR "attack one""
The documentation does not cover the second test case, within which a user can specify an arbitrary filename to gain access to.

The unit test:

[code]

https://github.com/owasp/railsgoat/wiki/R5-A4-Insecure-Direct-Object-Reference

[2018-02-21 16:08] nvisium-john-poulin opened #313 "IDOR Unit Test Failing"
On the latest commit (67e1365) the IDOR unit test is failing on "attack two". I haven't checked other commits yet. The following behavior is that same whether or not the user has mitigated the vulnerability.

[code]

One important thing to note is that `another_user.name` isn't even a valid method. I suspect it should be `another_user.full_name`

[2018-02-21 16:29] nvisium-john-poulin opened #314 "Update R5 SQLi Documentation"
The proposed solutions do not work, as they rely on the no-longer existing `user_id` parameter, throwing the following error:

[code]

Refactor these to be in the following syntax. Also note, we no longer need to specify the column name since we're searching on primary key :

[code]

https://github.com/OWASP/railsgoat/wiki/R5-A1-SQL-Injection-Concatentation

[2018-02-21 16:35] nvisium-john-poulin opened #315 "Wrong URL for CSRF Wiki Page"
The CSRF test throws the following URL, which is incorrect: https://github.com/OWASP/railsgoat/wiki/R5-A8-CSRF

It looks like we need to create the R5 page, or just link to R4 if the details haven't changed.

[2018-02-21 18:32] nvisium-john-poulin opened #316 "Wrong URL for Mass Assignment Unit Test"
The test responds with a URL that is missing. We either need to create the page, or change this to link back to the old tutorial if nothing changed from a functional standpoint between R4/R5.

[code]

[2018-02-21 18:37] nvisium-john-poulin commented on #316
Another note: "attack one" is missing a URL. In R4 these URL's were distinct.

[2018-02-21 19:03] nvisium-john-poulin opened #317 "Unvalidated Redirect Unit Test too Strict"
The Unvalidated Redirect test is too tight, as it accepts only `/dashboard/home`. The current code in Railsgoat sets a default path to `home_dashboard_index_path` (https://github.com/OWASP/railsgoat/blob/master/app/controllers/sessions_controller.rb#L12)

After successfully mitigating the vulnerability, the test still fails with the following error:

[code]

I was able to fix this test by modifyin

[2018-02-21 19:10] nvisium-john-poulin opened #318 "A7 MFLAC Documentation + Unit Test Issue"
The documentation (https://github.com/OWASP/railsgoat/wiki/A7-Missing-Function-Level-Access-Control--(Admin-Controller)) utilizes `before_filter` which has been deprecated in Rails 5.

That aside, the unit test still fails because it's expecting the path to be `/` not `/dashboard/home`:

[code]

[2018-02-21 19:25] nvisium-john-poulin opened #319 "Insecure Password Storage"
If you follow the documentation, you will be left in a situation where loading the seed data / running spec tests will throw the following error:

[code]

This is likely due to the fact that we remove the password column, and AR no longer sees the attribute `password`.

[2018-02-21 19:27] nvisium-john-poulin commented on #319
I was able to get this to work through adding `attr_accessor :password` to the `User` model.

[2018-02-23 13:28] jasnow commented on #309
Created a draft during devise version.
[CONTRIBUTING.txt](https://github.com/OWASP/railsgoat/files/1751764/CONTRIBUTING.txt)

[2018-02-23 15:22] jasnow commented on #299
I now have a password for OWASP/GOSC wiki pages and I did a 1 character change to the generic idea - s/Railsgoat/RailsGoat/.

[2018-02-23 16:34] jasnow commented on #299
Added other OWASP/RailsGoat/GSOC ideas to [OWASP/GSOC wiki page](https://www.owasp.org/index.php/GSOC2018_Ideas) - Any improvements are VERY welcome.

[2018-02-23 17:05] nvisium-john-poulin opened #321 "Guard RSpec not working"
Below is a manual attempt at running the specs from guard, but the same error occurs when automatically invoking:

[code]

[2018-02-23 18:03] cktricky opened #324 "Fixed Branch"
Based on discussions with @nvisium-john-poulin this morning, it makes sense to have a fixed branch so that we can test unit-tests on fixes - not just functionality - in order to see any breakage that might be occurring prior to merge.

[2018-02-23 19:07] jasnow opened #325 "Sync two versions of license (one in README file and one in LICENSE file)"
Sync two versions of license (one in README file and one in LICENSE file).

[2018-02-25 13:32] jasnow commented on #299
Send emails to 3 new mentors to share new [wiki section](https://github.com/OWASP/railsgoat/wiki/RailsGoat-Summer-of-Code-Type-Project-Information#mentors-getting-started-with-railsgoat-soc-initiative) and ask them to get started with setup.

[2018-02-25 14:11] jasnow commented on #325
Fixed with PR https://github.com/OWASP/railsgoat/pull/326

[2018-02-25 16:49] #321 closed

[2018-02-25 17:36] jasnow commented on #299
Cross-posted above meetup event to local dc404-chat mail list

[2018-02-25 17:47] jasnow commented on #325
PR #326 and #327 were merged so closing this issue.

[2018-02-25 17:47] #325 closed

[2018-02-25 20:28] jasnow opened #328 "Improve coverage by adding quality tests"
# Improve coverage by adding quality tests.

To run coverage, prefix
 * **COVERAGE='YES' rake**

or
 * **RAILSGOAT_MAINTAINER='yes' rake**

then open this file in the browser **coverage/index.html**.
Then pick some uncovered lines to write tests for and see the coverage go up.

[2018-02-26 16:15] jasnow commented on #299
Just committed 3 files - CONTRIBUTING, CODE_OF_CODE, ISSUE_TEMPLATE - Needs CoC-Email before merging.

[2018-02-26 19:28] jasnow opened #330 "Install new version GitHub Slack App"
[Blog Post](https://github.com/blog/2506-slack-and-github-your-ultimate-productivity-pair) on new version of GitHub Slack App -https://owasp.slack.com/apps/A8GBNUWU8-github

[2018-02-26 19:31] jasnow commented on #330
Also: https://github.com/blog/2509-commit-with-confidence-with-new-teacher-training-from-github

[2018-02-26 20:10] cktricky commented on #330
I was able to do most of the installation except that I need an owner to install the GitHub Slack App on the OWASP github org so that I can finish the slack subscription. The good news is, once this is done, owners won't get asked by other owasp projects to do the same thing... it will already be installed.

[This is the link](https://github.com/apps/slack/installations/new/permissions?target_id=1

[2018-02-27 16:08] nvisium-john-poulin opened #331 "TLS Support"
As discussed on the RailsGoat FAQ (https://railsgoat.cktricky.com/faq.html), there should be support for SSL/TLS. We can just use letsencrypt, and add tutorials/tests for cookie flags, HSTS, mixed content and other configuration options.

[code]

[2018-02-27 18:16] jasnow commented on #331
These references might help:
  * https://everydayrails.com/2017/01/09/rails-https-only-lets-encrypt-ssl.html
  * http://www.rubyflow.com/p/8rp4tl-quickly-add-ssl-to-heroku-for-free
  * http://www.rubyflow.com/p/uof8v2-letsencryptheroku
  * https://www.troyhunt.com/life-is-about-to-get-harder-for-websites-without-https

[2018-02-27 18:18] jasnow commented on #330
Posted request for help to [OWASP/GSOC Google Group](https://groups.google.com/forum/#!topic/owasp-gsoc/w9zPCaE7WvU) today.

[2018-02-27 18:58] cktricky commented on #330
Thanks @jasnow 👍 - now we wait 🕐

[2018-02-27 19:41] jasnow opened #332 "Use Github's "release" feature with RailsGoat."
Use Github's [release](https://github.com/OWASP/railsgoat/releases) feature with RailsGoat.

[2018-02-28 00:59] cscasanovas123 commented on #330
Hi Al,

Can I help you with something ?

Sent from my iPhone

[2018-02-28 01:49] cktricky commented on #330
@cscasanovas123 I'm not sure if OWASP wants to install the GitHub Slack app on all repos but, that is certainly an option. Mainly, this means other projects won't be bugging you (hopefully). The other option is just to install it on our repo. Either way, this is the link: https://github.com/apps/slack/installations/new/permissions?target_id=155815

Thank you 🙇

[2018-03-01 13:48] jasnow opened #333 "Automate comparison of documentation and code so we can keep it sync'ed?"
Automate comparison of documentation and code so we can keep it sync'ed.

[2018-03-01 16:34] nvisium-john-poulin commented on #333
This is a great idea, as maintaining the wiki to be accurate in respect to the current code base has proven to be one of the most challenging issues.

Off the top of my head I don’t know of a great approach for doing that. w/ RDoc it would be easiest, but then the tutorials would be in the code directly. We removed that a while back to prevent students from “cheating”

[2018-03-01 16:51] cktricky commented on #333
Fwiw, the change were a result of more than a concern about cheating. Things like requiring a PR/code change every time we wanted to update a document or the overhead of maintaining multiple branch tutorials for each version, lots of requests for the tutorials to be placed somewhere more collaborative, etc. - sure there are little edge cases I'm forgetting but yeah... didn't work out so well in th

[2018-03-01 16:53] jmmastey commented on #333
Is something like this worth looking into?

https://blog.github.com/2017-08-15-introducing-embedded-code-snippets/

[2018-03-01 19:08] cktricky commented on #333
So possibly compare the hash of one perma-linked commit against the current embedded blob? Seems feasible but not sure if I've missed the point entirely 😄

[2018-03-02 14:28] cktricky commented on #330
Big thank you to @jeremylong for helping us out here!

[2018-03-02 14:29] jasnow commented on #330
Appears that the app has been installed so closing this issue.

[2018-03-02 14:29] #330 closed

[2018-03-02 19:28] jasnow commented on #299
Now we are up to 3 accepted 2018 GSOC/OWASP/RailsGoat mentors with some more expected.

[2018-03-03 17:25] jasnow commented on #299
Got another interested mentor - send him our wiki and Slack invite.

[2018-03-03 17:42] jasnow commented on #310
#334 merged so closing this issue.

[2018-03-03 17:42] #310 closed

[2018-03-03 17:43] jasnow commented on #309
#334 merged so closing this issue.

[2018-03-03 17:43] #309 closed

[2018-03-03 17:43] jasnow commented on #308
#334 merged so closing this issue.

[2018-03-03 17:43] #308 closed

[2018-03-04 19:58] jasnow commented on #299
Sent another Slack invite and it was accepted. Refactored our wiki page again.

[2018-03-05 14:42] jasnow commented on #299
Posted to rubyonrails-gsoc Google Group - [Come join OWASP/RailsGoat as Google Summer of Code student](https://groups.google.com/forum/#!topic/rubyonrails-gsoc/2FRIcfpqFig)

[2018-03-05 15:56] jasnow commented on #299
Here is a simple GitHub issue to practice Git, GitHub+PRs, Rails/Ruby setup/etc: https://github.com/jasnow/Practice-Git-with-Rails/issues/13

[2018-03-05 17:05] jasnow commented on #270
Reference I just found: http://www.rubyflow.com/p/1o0pv1-screencast-encrypted-credentials-in-rails-52

[2018-03-05 19:08] jasnow commented on #299
FYI: Today I have been getting the word out to students at several of my local large Universities (UGA, GA Tech, KSU) along with posting to Rails/GSOC Google Group.

[2018-03-05 20:16] jasnow commented on #307
* https://www.ebay.com/itm/Security-on-Rails-ExLibrary/273022837869?epid=77901548&hash=item3f916de46d:g:dwIAAOSwax5YpIOw
 * https://www.ebay.com/itm/Security-on-Rails/142675474139?epid=77901548&hash=item21381ef6db:g:P04AAOSwZfNacqZc

[2018-03-06 14:56] jasnow commented on #299
Sent email this morning to Pragmatic Programmers "Security on Rails" book for permission to use source code.

[2018-03-06 15:01] jasnow commented on #299
Already got response from publisher: "Yes, that is fine. Thanks again for asking!"

[2018-03-06 15:07] jasnow opened #335 "Add documentation on "How to Upgrade" RailsGoat"
Provide steps in the documentation to "How to Upgrade" this repo.

🐞 **Problem**

Currently unclear exactly how to upgrade this repo.

🎯 **Goal**

To be clear on how to upgrade this repo.

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments s

[2018-03-06 15:42] jasnow commented on #299
Another example of an Idea page: https://wiki.openstreetmap.org/wiki/Google_Summer_of_Code/2018/Project_Ideas

[2018-03-06 18:38] jasnow opened #337 "Improve RailsGoat wiki hints with links to external references."
Improve [RailsGoat wiki hints](https://github.com/OWASP/railsgoat/wiki) with links to external references (tutorials, videos, brakeman docs, etc).

[2018-03-08 18:50] jasnow commented on #299
All 8 identified mentor candidates now have OWASP Slack accounts.

[2018-03-09 15:15] cktricky opened #340 "Wiki pull requests"
🐞 **Problem**

We don't want anyone off the internet editing the wiki. This requires write permissions. There is no default "built-in" ability to submit pull requests if you don't have write permissions. So we're stuck between give write permissions to the entire repo or no ability to submit proposed changes.

🎯 **Goal**
Make it possible to create an open way to collaborate on wikis.

💡 **Possible

[2018-03-09 15:31] jasnow commented on #299
Now we have 3 mentor candidates (waiting for OWASP Admin to approved invite request) and 4 OWASP Admin approved mentors.

[2018-03-09 19:30] jasnow commented on #299
Just talked to OWASP Admin on phone and they have sent all 7 mentor invites.

[2018-03-10 17:04] cktricky commented on #332
I've added 3 releases. [rails.3](https://github.com/OWASP/railsgoat/releases/tag/rails.3), [rails.4](https://github.com/OWASP/railsgoat/releases/tag/rails.4), and [rails5.0.0](https://github.com/OWASP/railsgoat/releases/tag/rails.5.0.0). Rails 3/4 I didn't feel we had any need for minor/major versions since we typically don't perform any work on those releases anymore. This is why they're just `ra

[2018-03-10 17:18] jasnow commented on #332
LGTM - Closing issue

[2018-03-10 17:18] #332 closed

[2018-03-11 13:28] jasnow opened #341 "How to deal with PhantomJS development being halted"
🐞 **Problem**
Saw recently that PhantomJS development was being halted on this blog post: https://groups.google.com/forum/#!topic/selenium-developers/YMuCPtX6dyg
and https://github.com/ariya/phantomjs/issues/15344

🎯 **Goal**
Deal with the fact that PhantomJS will shortly stop being maintained.

💡 **Possible solutions**
Move to selenium-webdriver.

📋  **Steps to solve the problem**
Details at: htt

[2018-03-11 13:33] jasnow commented on #341
I would check out:
 * https://github.com/casperjs/casperjs/issues/1825
 * https://github.com/OnetapInc/chromy

[2018-03-12 11:12] jasnow commented on #299
Moved Student onboarding section in wiki to top of file so the students can find it easily.

[2018-03-12 23:18] jasnow commented on #299
Example Student Proposal: https://wiki.debian.org/JacobAdams/PGPCleanRoomGSoC2018ProjectProposal

[2018-03-13 18:20] jasnow commented on #306
Just found this: https://nvisium.com/blog/2014/09/24/an-update-on-railsgoat-vagrantdocker

[2018-03-14 11:52] jasnow commented on #299
http://wiki.apertium.org/wiki/Top_tips_for_GSOC_applications

[2018-03-17 13:48] jasnow commented on #299
Example Student Proposal Template:
https://wiki.debian.org/SummerOfCode2018-StudentApplications

[2018-03-18 13:13] jasnow commented on #305
**shaddygarg [Today at 8:50 AM] in #project-railsgoat**
Hey, I was working on the proposal for the OWASP top ten project but I am unsure about some points. What does the project OWASP top ten exactly include?? I read the relevant issue and It mentions that support needs to be added for the 2017 version and back support for the 2010 version!! How is one supposed to start doing this?? I plan to open

[2018-03-18 13:15] jasnow commented on #305
**shaddygarg [9:02 AM]**
uploaded and commented on this image: [OWASP.PNG](https://owasp.slack.com/files/U995JPMAL/F9RTPDG9K/capture.png)

The vulnerabilities A7, A9, A8 are merged into some other vulnerabilities of 2013 and other vulnerabilities are the same.
Source: https://www.owasp.org/images/f/f8/OWASP_Top_10_-_2013.pdf

**Al [9:06 AM]**
"2010 and 2013 support after adding 2017 support" - I h

[2018-03-18 13:41] jasnow commented on #305
@shaddygarg -- Where would you find the RailsGoat supporting 2010 vulnerabilities?

[2018-03-18 13:50] shaddygarg commented on #305
@jasnow -- I am currently researching for the differences between the 2010 and 2017 vulnerabilities so that for adding the 2017 vulnerabilities, I can have a better perspective of developing the vulnerabilities in such a way that they don't interfere. This way we can both preserve the vulnerabilities of 2017 along with 2013 and 2010.

[2018-03-18 16:37] cktricky commented on #305
Why would we want to maintain 2010/2913 support? Typically we just upgrade master to whatever the current owasp top 10 list is. We are more concerned with Rails versions (ie - 3,4, and 5) when it comes to historical context. The OWASP Top 10 is just “whatever the latest list is”.

Sent from Ken's iPhone.

[2018-03-18 21:07] jasnow commented on #305
[code]
@cktricky -  you want just the latest, I will change my description.

[2018-03-18 21:45] cktricky commented on #305
I don’t know because I am not sure about the story/context behind it, that’s why I’m asking :smile:. Know what we typically do but wasn’t sure if this was for some larger effort that was part of GSoC and I was unaware of.

Sent from Ken's iPhone.

[2018-03-19 13:14] jasnow commented on #299
Found this blog post today: https://sanatt.me/2017/12/30/cracking-google-summer-code-2018/

[2018-03-19 13:45] jasnow commented on #305
@shaddygarg - FYI: Note that this GitHub idea issue has been changed to only cover the 2017 vulnerabilities.

[2018-03-19 17:22] jasnow commented on #299
FYI: As I look to understand why I do some of things I do on this GSOC initiative,
here are two of my personal assumptions:
 1. Expect lots of student applications so we need to define specialized mentors
 2. Expect brand new mentors will help out prior to GSOC so I create additional GitHub issues for them.

Since neither assumption become true, I have not implemented #1's and I will unwind some o

[2018-03-21 19:26] jasnow commented on #299
Sample Student Proposal: https://wiki.debian.org/YashAgarwal/GSoCProposal

[2018-03-22 21:25] jasnow commented on #299
Example Student Proposal Criteria: https://www.mixxx.org/wiki/doku.php/gsocadvice#application_evaluation_criteria

[2018-03-22 21:30] jasnow commented on #299
Slides: https://docs.google.com/presentation/d/1IRB2nnO1yxG348u_QjEJkhoxiq9C9C7nnDOFC6vUz3M/edit#slide=id.g312d7f52b6_0_0

[2018-03-30 15:04] jasnow commented on #299
Responded (score + accept/reject) to OWASP Admin regarding the student proposals.

[2018-04-18 14:26] jasnow commented on #299
FYI: I will be removing the "SummerOfCode" tag from my GitHub tickets (if I can) and closing ticket #299. If any of the newer GitHub tickets that I created are not needed any more, I will be glad to close them with a simple explanation.

[2018-04-18 16:38] jasnow commented on #299
Could not remove labels and the other clean up work can be worked outside this ticket so closing this ticket. Feel free to reopen if we need it again.

[2018-04-18 16:52] cktricky commented on #299
Closing per @jasnow 's request

[2018-04-18 16:53] #299 closed

[2018-04-18 17:36] jasnow commented on #299
Thanks

[2018-04-26 19:30] jasnow commented on #328
Pruning

[2018-04-26 19:30] #328 closed

[2018-04-26 19:30] jasnow commented on #337
Pruning

[2018-04-26 19:30] #337 closed

[2018-04-26 19:30] jasnow commented on #333
Pruning

[2018-04-26 19:30] #333 closed

[2018-04-26 19:32] jasnow commented on #335
Unclear if this is needed so closing this issue.

[2018-04-26 19:32] #335 closed

[2018-04-26 19:39] cktricky commented on #335
Left a question re: these issues being closed here: https://owasp.slack.com/archives/C04THC44W/p1524771400000710

[2018-08-31 16:47] diegorv commented on #207
May I help? 😄

What's the idea?

[2018-09-14 00:32] cktricky commented on #207
Hi @diegorv 👋,

My apologies. I saw this message and meant to reply but somehow forgot to!

We would of course love any help you would be willing to provide 🙇

In the current version of Railsgoat, we use our own custom authentication, for example, you can see a [terrible password hashing mechanism here](https://github.com/OWASP/railsgoat/blob/master/app/models/user.rb#L41-L51). At the time, this w

[2018-09-14 00:53] cktricky commented on #207
Also I was just in São Paulo back in May! Had a great time at BSides and [you sh0t the sheriff](https://www.ysts.org/)

[2019-06-10 16:30] jasnow opened #364 "Upgrade Rails to 5.2 or 6.0 and Ruby to 2.7.0-preview1"
## Upgrade Rails to 5.2 or 6.0 and Ruby to 2.7.0-preview1

# Problem

Using old versions of Ruby-on-Rails and Ruby.

# Goal

To upgrade the repo to latest Rails and Ruby versions.

# Steps to solve the problem
 1. Upgrade Ruby from 2.6.3 to 2.7.0-preview.
 2. Upgrade Rails to 6.0.0.rc1 (or at least 5.2).
 3. Fix all lose functionality **with help**.

# Status
1. Copied repo to separate repo.
 2. M

[2019-06-10 16:46] jasnow commented on #364
This is the **one test spec that stopped working** after upgrading:

https://github.com/OWASP/railsgoat/blob/master/spec/vulnerabilities/sql_injection_spec.rb

and the line that I needed to change was:
[code]
Found this background material for Rails 5.2 SQL Injection Protection:
* https://blog.bigbinary.com/2018/10/16/rails-5-2-disallows-raw-sql-in-active-record.html
* https://github.com/rails/rai

[2019-07-19 14:59] jasnow commented on #307
Spring cleaning

[2019-07-19 14:59] #307 closed

[2019-07-19 14:59] jasnow commented on #306
Spring Cleaning

[2019-07-19 14:59] #306 closed

[2019-07-19 15:00] jasnow commented on #305
Spring Cleaning

[2019-07-19 15:00] #305 closed

[2019-09-03 22:44] cktricky commented on #364
Hey @jasnow, that should work!

[2019-09-14 20:30] dukaev opened #368 "Add MailCatcher and Mysql in docker-compose"
Hello!
What do you think about to add Processing Email (MailCatcher) and Mysql in docker-compose?

[2019-09-17 15:34] #364 closed

[2019-09-17 18:50] jasnow commented on #364
Thanks

[2019-10-01 19:49] gopye commented on #313
I can confirm that these fixes got the specs failing in the correct manner

https://github.com/nvisium-john-poulin/railsgoat/commit/991ea4c6ce4adbebe5467bc20cb0ab4121aed31f

https://github.com/nvisium-john-poulin/railsgoat/commit/e7104074f4f957ba5f0cd67d93539090c25bba6e

[2019-10-01 19:54] gopye commented on #311
I also ran into the second issue brought up by @nvisium-john-poulin

[2019-10-15 19:13] joelbrewer opened #370 "Bug: Error running rails db:setup on a fresh install"
Running `rails db:setup` returns an error.

🐞 **Problem**

I performed a fresh clone, `bundle install`, and subsequent `rails db:setup` and received the following error:

Steps to reproduce:

- `git clone`
- `bundle install`
- `rails db:setup`

💡 **Possible solutions**

I have a feeling this could be a ruby/rails version issue (I noticed the Ruby version was recently upgraded).

[2019-10-15 19:18] jasnow commented on #370
What version of ruby are you using?

[2019-10-15 19:26] joelbrewer commented on #370
![image](https://user-images.githubusercontent.com/2348386/66862981-4c1dff80-ef4f-11e9-947c-e1094770382b.png)

Using rbenv -- this was the only 2.7.0 version available.

[2019-10-15 19:54] jasnow commented on #370
I use rvm with .rvmrc: rvm use 2.7.0-preview1@ruby2.7-rails6.0 --create

[2019-10-15 20:07] joelbrewer commented on #370
Got it - I'll try using `rvm` 👍

[2019-10-19 22:13] treprime commented on #370
Any update on.  This has been a nightmare to install on a fresh ubuntu instance and docker.

[2019-10-20 00:40] cktricky commented on #370
@treprime are you using RVM as noted above?

[2019-10-20 01:38] treprime commented on #370
@cktricky  I managed to get it working.  Steps below

-  Install ruby and ruby-build

        sudo apt-get install ruby \
        ruby-build -y

- Install mysql

        sudo apt-get install mysql-server \
        mysql-client \
        libmysqlclient-dev

- Install rvm (ruby version manager)

        curl -sSL https://get.rvm.io | bash -s stable

- source the directory

        source ~/.rvm/scri

[2020-02-05 14:59] lawrence-berry commented on #207
Just wondering if this is still on the roadmap for this project? Was keen to start using this in our org but think it would be more valuable if based on Devise, and I think others would too as it seems to be the most common auth lib for Rails projects these days.

[2020-02-05 15:01] lawrence-berry commented on #368
I'd be add phantomJS to that list, as it doesn't seem to be installed via docker-compose currently, which means none of the tests are functional.

[2020-06-23 18:48] cktricky commented on #370
Thank you @tre-island. I think I need to try and build this on a fresh ubuntu install to see what we could improve on our end.

[2020-11-16 06:45] kwesthaus commented on #314
Additionally, the described request string for the attack no longer works (at least in the docker version, per my testing).
Original:
[code]

Working:
[code]

The URL encoding and put -> patch changes are insignificant but just how they showed up by default in my browser, and I left them so it looks more similar when future users go to change it. The real change is the SQL injection string for the

[2021-05-26 12:31] Daigham opened #413 "Command 'db:setup' not recognized""
When I type rails db:setup, I get below output. Also on below output there is an error message which says ": Command 'db:setup' not recognized"
/usr/local/rvm/gems/ruby-3.0.0/gems/bundler-1.15.3/lib/bundler/shared_helpers.rb:25: warning: Pathname#untaint is deprecated and will be removed in Ruby 3.2.

/usr/local/rvm/gems/ruby-3.0.0/gems/bundler-1.15.3/lib/bundler/shared_helpers.rb:108: warning: Pa

[2021-06-25 17:44] jasnow commented on #341
Very old issue so I'm closing it.

[2021-06-25 17:44] #341 closed

[2021-06-25 17:44] jasnow commented on #294
very old issue so closing it.

[2021-06-25 17:44] #294 closed

[2022-03-15 18:57] horvatic opened #428 "M1 Mac fails to run "docker-compose build", error "Target architecture x64 is only supported""
🐞 **Problem**
When running `docker-compose build` I get the following error:

[code]

Calling out this part of the error message: `Target architecture x64 is only supported`

Mac M1 is a ARM64 system

🎯 **Goal**
Be able to run on an M1 Mac

💡 **Possible solutions**
Update the docs on how to run with an M1 Mac, or update the docker image to work with ARM64

[2022-03-15 21:24] horvatic commented on #428
PR to fix issue: https://github.com/OWASP/railsgoat/pull/429

[2022-08-16 23:17] horvatic commented on #428
PR merged

[2022-08-16 23:17] #428 closed